@use "variables";
@use "depot-browser";
@import "froala-editor/css/froala_style.css";

.cms-hide {
    display : none !important;
}
.link-container {
	display         : block;
	text-decoration : none;

	&:hover, *, *:hover {
		text-decoration : none;
	}
}
.cms-twig-traceback {
	display : none;
}
.cms-error,
.cms-success,
.cms-twig-error,
.cms-twig-info {
	--alert-color    : var(--totalform-error);
	padding          : 0.625rem;
	color            : oklch(var(--alert-color));
	border           : 1px solid oklch(var(--alert-color));
	background-color : oklch(var(--alert-color) / 0.1);
	border-radius    : 5px;
	display          : grid;
	gap              : 0.5rem;
	word-wrap        : anywhere;
	text-wrap        : wrap;
	z-index          : 9999;

	a {
		color           : oklch(var(--alert-color));
		text-decoration : underline;
		font-weight     : 700;

		&:hover {
			color           : oklch(var(--alert-color));
			text-decoration : none;
		}
	}
}
.cms-success {
	--alert-color : var(--totalform-success);
}
.cms-twig-info {
	--alert-color : var(--totalform-info);
}
body>.cms-twig-error {
	display  : block;
	// position : fixed;
	// bottom   : 0;
	// right    : 0;
	// left     : 0;
	// z-index  : 999999;
	margin   : 0.625rem;
}
.cms-video-embed {
	width        : 100% !important;
	height       : auto !important;
	aspect-ratio : 16 / 9;
}
svg.cms-barcode,
svg.cms-qr-code,
img.cms-image {
	display   : inline-block;
	max-width : 100%;
	height    : auto;
	width     : auto;
}
svg.cms-qr-code > rect {
	fill  : transparent;
}
