@import "variables";


// TODO: Variables
// border radius
// shadows
// colors: background, text, border, accent, etc.
// HSL to OKLCH?
// hide group label with class (will affect border radius)

//------------------------------
// Form Defaults
//------------------------------
.totalform {

	input:focus,
	textarea:focus,
	input:focus + .form-group-icon,
	textarea:focus + .form-group-icon {
		outline      : 0;
		border-color : var(--totalform-border-color);
		box-shadow: inset 0 0 0 var(--totalform-shadow);
	}

    label {
        display     : block;
        margin      : 0;
        font-size   : var(--totalform-label-size);
        font-weight : 400;
        line-height : 1.8;
        color       : var(--totalform-label-color);
        transition  : opacity 0.5s;
        width       : max-content;
    }
}

.form-field {
	position   : relative;
	margin-top : 1rem;

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

	&.hide {
		display : none;
	}

	&.unsaved {
		--totalform-border-color : var(--totalform-changed);
		--totalform-icon-bg      : var(--totalform-changed);
		--totalform-icon-color   : var(--totalform-white);
	}
}

.cms-save,
.cms-delete {
	cursor : pointer;
}

//------------------------------
// Form Groups
//------------------------------
.form-group {
	display       : flex;
	position      : relative;
	margin-bottom : 1rem;
	align-items   : stretch;
	border-radius : var(--totalform-radius);
	transition    : box-shadow .5s,
					color .25s ease-in-out,
					border-color .25s ease-in-out,
					background-color .25s ease-in-out;
	box-shadow    : 0 0 0 var(--totalform-shadow);

    &:has(:focus) {
        box-shadow: 0 1px 2px var(--totalform-shadow);

		&:has(.actionbar),
		&:has([type=range]),
		&:has([type=checkbox]),
		&:has([type=radio]) {
			box-shadow: none;
		}
    }

    & > * {
        margin: 0;
    }

    & + .help {
        margin-top: -0.5rem;
    }
}

.form-group-icon {
	width             : 3em;
	border            : 1px solid var(--totalform-border-color);
	border-left-width : 0;
	border-radius     : 0 var(--totalform-radius) var(--totalform-radius) 0;
	background-color  : var(--totalform-icon-bg);
	transition        : box-shadow .5s, border-color .25s ease-in-out;
	display           : grid;
	align-items       : center;
	justify-items     : center;

	&:after {
		display          : block;
		content          : " ";
		background-color : var(--totalform-icon-color);
		width            : 1.1rem;
		height           : 1.1rem;
		-webkit-mask     : var(--icon-text);
		mask             : var(--icon-text);
	}
}

@import "forms/help";
@import "forms/text";
@import "forms/actionbar";
@import "forms/checkbox";
@import "forms/color";
@import "forms/droplet";
@import "forms/froala";
@import "forms/list";
@import "forms/radio";
@import "forms/set";
@import "forms/slider";
@import "forms/toggle";
@import "forms/details";
@import "forms/dialog";
@import "forms/image";
@import "forms/file";
@import "forms/gallery";
@import "codemirror";
