body {
	margin  : 0;
	padding : 0;
}

.container {
	padding : 20px;
}

.image-preview {
	display         : grid;
	gap             : 1rem;
	justify-content : center;

	img {
		border-width : 10px;
		border-style : solid;
		border-color : #f8f8f8;
		box-shadow   : 0 0 2px #0006;
		max-width    : 100%;
		height       : auto;
		width        : auto;
	}

	button {
		background-color : var(--totalform-accent);
		color            : #fff;
		padding          : 1rem;
		border           : none;
		border-radius    : 5px;
		font-size        : 1.1rem;
		font-weight      : bold;
		cursor           : pointer;
	}
}

.totalform {
	margin-top : 1rem;
	display    : grid;
	gap        : 1rem;

	details > div {
		display    : grid;
		gap        : 3rem;
		grid-template-columns : 1fr 1fr;
	}
}

.in-iframe #fit-modal[open]{
	transform  : none;
	top        : 0;
	left       : 0;
	max-width  : none;
	max-height : none;
	height     : 100%;
}
