<section>
	{{ cms.form.factory(url.collection, {
		refresh : false,
		hidden  : false,
	}) }}
	<p style="margin-top:3rem">The factory rules that are defined in the schema for this
	collection will be used to generate new objects.</p>
	<p>Make sure the check out the <a href="docs/factory">Factory Docs</a> to see all of the possibilities.</p>
</section>
