<section class="dash-content-section">

	<h2>Feeds URL Builder for {{ url.collection }}</h2>

	<p>Future home where you can get the following type of feeds for your collection: RSS, Micropub, Apple News, etc.</p>

</section>