{# Collection Object Table #}
{% set objects = cms.objects(url.collection) %}
{% if objects|length > 0 %}

	{{ cms.form.collectionTable(url.collection) }}

{% else %}

	{% set labelPlural = cms.collection(url.collection).labelPlural|default('objects') %}
	<p>No {{ labelPlural }} in this collection yet.</p>

{% endif %}
