// CMS Admin Stack
@import "include/totalform.scss";

@import "include/fieldset/hipwig.scss";
@import "include/fieldset/droplet.scss";
@import "include/fieldset/image-box.scss";
@import "include/fieldset/file-box.scss";
@import "include/fieldset/gallery-box.scss";
@import "include/fieldset/awesomplete.scss";
@import "include/fieldset/list-box.scss";
@import "include/fieldset/video-box.scss";
@import "include/fieldset/rangeslider.scss";
@import "include/fieldset/checkbox.scss";
@import "include/fieldset/toggle.scss";
@import "include/fieldset/datepicker.scss";
@import "include/fieldset/actionbar.scss";
@import "include/fieldset/color-picker.scss";
@import "include/fieldset/select.scss";
@import "include/fieldset/deck.scss";
@import "include/fieldset/svg-box.scss";
@import "include/fieldset/text-box.scss";

@import "include/form-save-indicator.scss";

.hide {
	display:none!important;
}
.cms-admin-core-warning {
	display:none;
}
.baseurl-warning,.web-address-warning,.cms-version-warning {
	display:none;
	padding:1rem;
	text-align:center;
	background-color:rgba(255,0,0,0.9);
	position:fixed;
	bottom:0;
	width:100%;
	z-index:99999;
	cursor:pointer;
	color:#ffffff;
	font-size: 1.2rem;
	>em {
		font-size: 0.9rem;
	}
}
// .tooltip {
// 	background-color:#f8f8f8!important;
// 	color:#222222!important;
// 	box-shadow:0px 0px 2px rgba(0, 0, 0, 0.4);
// 	.nub {
// 		border-color:transparent transparent #f8f8f8 transparent!important;
// 	}
// }