// Total CMS Content Styles
picture, picture img, img.imageworks {
    display:block;
}
picture.image-align-left img {
    margin-left  : 0;
    margin-right : auto;
}
picture.image-align-right img {
    margin-left  : auto;
    margin-right : 0;
}
picture.image-align-center img {
    margin-left  : auto;
    margin-right : auto;
}
picture.image-full img {
    width : 100%;
}
picture.cover-image {
    width  : 100%;
    height : 100%;

    img {
        width      : 100%;
        height     : 100%;
        object-fit : cover;
    }
}

// Template Loading
.template-layout {
    transition : all 1s ease-out;

    > *:not(.actionbar) {
        opacity    : 1;
        transition : all 1s ease-out;
    }

    > a {
        display : block;
        height  : 100%;
    }

    &.template-loading {
        min-height          : 150px;
        height              : 100%;
        background-color    : transparent;
        background-image    : url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgY2xhc3M9Imxkcy1yb2xsaW5nIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0icmdiYSgyMTQsMjE0LDIxNCwwLjUpIiBzdHJva2Utd2lkdGg9IjEwIiByPSIzNSIgc3Ryb2tlLWRhc2hhcnJheT0iMTY0LjkzMzYxNDMxMzQ2NDE1IDU2Ljk3Nzg3MTQzNzgyMTM4Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvc3ZnPg==");
        background-repeat   : no-repeat;
        background-size     : 100px 100px;
        background-position : center center;

        > * {
            opacity : 0;
        }
    }
}
.totalcms-item, .grid-item, .wallpaper, .grid_column1, .grid_column2 {
    > a {
        color:inherit;

        &:link,&:visited,&:hover,&:active {
            color:inherit;
        }
    }
}

@import "include/lightgallery-settings.scss";
@import "lightgallery.scss";

.boxgallery-item:hover {
    cursor:pointer;
}