<header>
	<h1><a href="schemas">schemas</a> / <span>{{ url.schema }}</span></h1>
	<button class="dash-action-dots" title="Schema Actions" popovertarget="schema-actions"></button>
	<nav popover id="schema-actions">
		<ul>
			<li class="export"><a href="schemas/{{ url.schema }}/-export">Export</a></li>
			<li class="import"><a href="schemas/{{ url.schema }}/-import">Import</a></li>
		</ul>
	</nav>
</header>

{{ cms.form.schema({
	id          : url.schema,
	save        : "Save",
	delete      : "Delete",
	helpStyle   : 'label',
	helpOnFocus : true,
	deleteAction : {
		"action" : "redirect",
		"link"   : "schemas"
	},
	editAction : {
		"action" : "refresh",
	},
}) }}