<section style="display:grid;align-content:start;gap:3rem">

	{% set jsonapi = cms.api ~ "/export/schemas/" ~ url.schema %}

	<div>
		<h3>{{ t('schema.export_title', {schema: url.schema}) }}</h3>
		<p>{{ t('schema.export_desc') }}</p>
		<p><a href="{{ jsonapi }}" class="dash-button" download target="_blank">{{ t('schema.export_btn') }}</a></p>
	</div>

</section>
