<section style="display:grid;align-content:start;gap:3rem">

	<div>
		<h3>Import Schema</h3>
		<p>Choose a schema JSON file to uplopad.</p>
		{{ cms.form.importSchema(url.schema) }}
	</div>

</section>
