<section style="display:grid;align-content:start;gap:1rem">

		<h3>Import Schema</h3>
		<p>Choose a schema JSON file to upload. This will only create new schemas that do not exist in the CMS.
		You cannot use the import to update or modify existing schemas.</p>
		{{ cms.form.importSchema() }}

</section>
