<h1><a href="schemas">schemas</a> / <span>new{% if duplicateData %} (duplicate){% endif %}</span></h1>

{% if duplicateData %}
	{{ cms.form.schema({
		save        : cms.auth.isAdmin() ? "Save" : false,
		helpStyle   : 'label',
		helpOnFocus : true,
		newActions : [
			{
				"action" : "redirect-object",
				"link"   : "schemas/"
			}
		],
		data : duplicateData,
	}) }}
{% else %}
	{{ cms.form.schema({
		save        : cms.auth.isAdmin() ? "Save" : false,
		helpStyle   : 'label',
		helpOnFocus : true,
		newActions : [
			{
				"action" : "redirect-object",
				"link"   : "schemas/"
			}
		],
	}) }}
{% endif %}
