form.totalform {

	fieldset.gallery-box {

		.total-preview {
			width: 100%;
			overflow:hidden;
			padding-top:5px;

			&.overflow {
				overflow-y:scroll;
				border-bottom:1px dotted #ccc;
				text-align:center;
			}
		}
		.dz-preview {
	        border-width:5px;
	        opacity:1.0;
			display:inline-block;
			margin-right:10px;
			margin-bottom:10px;
			text-align:center;
			vertical-align:top;
			overflow:hidden;
			width:100px;
			height:100px;
			float:left;

			&:first-child{
				opacity:0.5;
				border-style:dashed;
		        border-color:#222;
		        border-width:2px;
		        box-shadow:none;
		        border-radius:3px;

		        .fa {
		        	line-height:100px;
		        }
			}

			&.sortable-ghost {
				.actionbar{
					opacity:0!important;
				}
			}

			.dz-progress {
				height:1rem;
				.dz-upload-progress-label {
					font-size:0.5rem;
				    line-height:1rem;
				}
			}
			.imagebar-featured {
				.fa-star {
					display:none;
				}
				.fa-star-o {
					display:inline-block;
				}
			}
			&.featured .imagebar-featured {
				.fa-star {
					display:inline-block;
				}
				.fa-star-o {
					display:none;
				}
			}
		}
	}
	&.dz-drag-hover {
		fieldset.gallery-box {
			.dz-preview {
				opacity:0.5;

				&:first-child {
					opacity:1.0;
				}
			}
		}
	}
}
