{# Skip blog-legacy schema #}
{% set reservedSchemas = cms.reservedSchemas() | filterCollection([
	{ property : "id", operator : "not-equal", value : "blog-legacy" },
]) %}

<p>Creating default collections...</p>
<ul>
{% for schema in reservedSchemas %}
	{% set collection = cms.collection(schema.id) %}
	<li>Created... {{ collection.name }}</li>
{% endfor %}
</ul>
<p>Done. Check out your <a href="collections">New Collections</a>.</p>