{#--------------------------------
  Button Macros
--------------------------------#}
{% macro saveButton(label = "Save") %}
	<button class="cms-save button" type="submit">{{ label }}</button>
{% endmacro %}

{% macro deleteButton(label = "Delete") %}
	<button class="cms-delete button">{{ label }}</button>
{% endmacro %}
