*.log
.idea
.claude
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.phpunit.result.cache

vendor/
build/
node_modules/
dist/

tmp/*
logs/*
tcms-data/*

env.php
config/env.php
/cache
public/assets
/resources/.bundle
/resources/beta
/resources/bundle
/resources/jobqueue
.cache_version
/tests/test-data/alloy/image-uploads
/tests/tcms-data/.schemas
/tests/tcms-data/blog
/tests/tcms-data/color
/tests/tcms-data/date
/tests/tcms-data/depot
/tests/tcms-data/email
/tests/tcms-data/feed
/tests/tcms-data/file
/tests/tcms-data/gallery
/tests/tcms-data/image
/tests/tcms-data/number
/tests/tcms-data/playground
/tests/tcms-data/products
/tests/tcms-data/styledtext
/tests/tcms-data/svg
/tests/tcms-data/text
/tests/tcms-data/toggle
/tests/tcms-data/url
/tests/tcms-data/.system/.bundle
/tests/tcms-data/.system/jobqueue
