*.log
.idea
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.phpunit.result.cache

vendor/
build/
node_modules/
dist/

tmp/*
logs/*
tcms-data/*

env.php
config/env.php
/cache
/tests/tcms-data
public/assets
/templates/totalform.twig
/resources/.bundle
/resources/beta
/resources/bundle
/version
