*.log
.idea
.claude
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.phpunit.result.cache

vendor/
build/
node_modules/
dist/

tmp/*
logs/*
tcms-data/*

env.php
config/env.php
/cache
public/assets
/resources/.bundle
/resources/beta
/resources/bundle
/resources/jobqueue
.cache_version
/tests/test-data/alloy/image-uploads
