parameters:
  level: 8
  inferPrivatePropertyTypeFromConstructor: true
  stubFiles:
    - phpstan-stubs/laminas-feed-writer-feed.stub
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
    - config
  excludePaths:
    analyse:
      - tests
    analyseAndScan:
      - tests
  ignoreErrors:
    - message: '#Trying to invoke#'
      path: config
    - message: '#Undefined variable: \$settings#'
      path: config
    - message: '#Offset .+ does not exist on array#'
      path: config
