@use "table";

.admin-table-wrapper {
	font-size: 0.9em;

	// Stop clicking to the form page when a popover is open
	:has(:popover-open) td:not(:first-child) {
		pointer-events : none;
	}

	img, svg {
		display   : block;
		max-width : 3rem;
		height    : auto;
	}
	img {
		border-radius : var(--totalform-radius);
	}

	--action-button-size : 1.2rem;
	td.action {
		> span, > button {
			display  : block;
			height   : var(--action-button-size);
			position : relative;
		}
	}
	.dash-action-dots {
		mask-size : var(--action-button-size);
		height    : var(--action-button-size);
	}

	.color-preview {
		height        : 100%;
		text-indent   : -9999px;
		border-radius : var(--totalform-radius);
	}
	.gallery-preview {
		position : relative;
		display  : inline-block;

		.image-count {
			position         : absolute;
			display          : inline-block;
			bottom           : 0;
			right            : 0;
			color            : oklch(var(--totalform-nearblack));
			background-color : oklch(var(--totalform-purewhite));
			border-radius    : var(--totalform-radius) 0 var(--totalform-radius) 0;
			padding          : 0.25rem;
			font-size        : 0.65rem;
			opacity          : 0.85;
		}
	}
}
dialog.dialog-clone-object {
	height : revert;
}
