.test-results {
	pre {
		max-height    : 400px;
		overflow-y    : auto;
		padding       : 1rem;
		border        : 1px solid oklch(var(--totalform-border-color));
		border-radius : var(--totalform-radius);
		background    : oklch(var(--totalform-nearwhite));
		font-size     : 0.85rem;
		line-height   : 1.5;
	}
	h3 {
		margin-bottom : 1rem;
	}
	.test-error {
		padding       : 1rem;
		color         : oklch(var(--totalform-error));
		border        : 1px solid oklch(var(--totalform-error));
		border-radius : var(--totalform-radius);
	}
}
.dataview-actions {
	display : flex;
	gap     : 1.5rem;

	.form-inline-fields {
		margin-top : 0;
	}
}