.log-analyzer {
	form,h2:not(:first-child) {
		margin-top : 2rem;
	}
	h2 small {
		font-weight  : 300;
		font-size    : 55%;
		padding-left : 0.5rem;
	}
	table.admin-table td {
		white-space    : normal;
		overflow       : visible;
		text-overflow  : clip;
		max-width      : none;
		height         : auto;
		word-break     : break-word;
	}
	th:first-child,
	td:first-child {
		width      : 6rem;
		text-align : right;
	}
	table {
		max-height : none;
	}
	.log-contents {
		background-color : oklch(var(--totalform-nearwhite));
		padding          : 1.5rem;
		max-height       : 75vh;
		overflow         : auto;
		border: 2px inset oklch(var(--totalform-lightgray) / 50%);
	}
	.no-logs {
		padding          : 1rem;
		max-width        : 65ch;
		background-color : oklch(var(--totalform-success) / 25%);
		border: 1px solid oklch(var(--totalform-success) / 50%);
		border-radius: var(--totalform-radius);
	}
	&:has(.no-logs) {
		h2, form, .log-contents {
			display : none;
		}
	}
}
