#twig-playground {
	.cms-button:before {
		mask-image : var(--icon-twig-playground);
	}
}

.playground-results {
	display            : grid;
	gap                : 2rem;
	margin-block-start : 2rem;
}

.playground-snippet {
	position: relative;
}
.playground-snippet .cms-clip-button {
	display          : inline-block;
	width            : 1.5rem;
	height           : 1.5rem;
	margin-left      : 0.5rem;
	background-color : currentColor;
	mask-image       : var(--icon-clipboard);
	mask-size        : contain;
	mask-repeat      : no-repeat;
	mask-position    : center;
	border           : none;
	cursor           : pointer;
	opacity          : 0;
	transition       : opacity 0.2s ease-in-out;
	position         : absolute;
	right            : 0.5rem;
	top              : 50%;
	transform        : translateY(-50%);
	text-indent      : -99999px;

}
.playground-snippet .cms-clip-button.copied {
	mask-image : var(--icon-clipboard-check);
	opacity    : 1;
}
.playground-snippet:hover .cms-clip-button {
	opacity: 1;
}
.playground-form .form-field.id-field {
	height   : 0;
	overflow : hidden;
}
.playground-form .form-inline-fields:has(.cms-save) {
	justify-content : flex-end;
}
.playground-results {
	margin-top: 2rem;
}
.result-section {
	margin-bottom: 2rem;
}
.result-section h3 {
	margin-bottom: 0.5rem;
	color: oklch(var(--totalform-nearblack));
}
.rendered-output {
	border           : 1px solid oklch(var(--totalform-border-color));
	padding          : 2rem;
	background-color : oklch(var(--totalform-purewhite));
	border-radius    : var(--totalform-radius);
}

.html-output-editor .CodeMirror {
	height: auto;
	min-height: 200px;
	max-height: 500px;
	border: 1px solid oklch(var(--totalform-border-color));
	border-radius: var(--totalform-radius);
}

.html-output-editor .CodeMirror-scroll {
	overflow: auto !important;
	max-height: 500px;
}

.html-output-editor .CodeMirror-scrollbar-filler,
.html-output-editor .CodeMirror-gutter-filler {
	display: none;
}