.user-profile {
	display         : grid;
	justify-content : center;
	padding         : 1.5rem 0;
	position        : relative;

	img {
		border-radius : 50%;
	}
	button {
		border-radius       : 50%;
		width               : 3rem;
		aspect-ratio        : 1;
		appearance          : none;
		cursor              : pointer;
		border              : none;
		padding             : 0;
		background-color    : transparent;
		background-image    : var(--icon-profile);
		background-repeat   : no-repeat;
		background-position : center;
		background-size     : 2rem;
	}
}