<!-- Macros for forms -->
{% import "form-macros.twig" as form %}

{{ form.start('customCollection', { method: 'post' }) }}

<div class="container total-form">
    <h2>Help Text - Default Style</h2>

    <div class="form-field">
        <label for="input-name9">Text Field</label>
        <div class="form-group">
            <input id="input-name9" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field">
        <label for="input-name10">Text Field</label>
        <div class="form-group">
            <input id="input-name10" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name10">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name10">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Show on Focus or Hover</h2>

    <div class="form-field help-on-focus">
        <label for="input-name1">Help on Focus</label>
        <div class="form-group">
            <input id="input-name1" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name1">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name1">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-on-hover">
        <label for="input-name2">Help on Hover</label>
        <div class="form-group">
            <input id="input-name2" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name2">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name2">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Lower Tooltip <small>(hover + focus)</small></h2>

    <div class="form-field help-box help-on-focus help-on-hover">
        <label for="input-name3">Text Field</label>
        <div class="form-group">
            <input id="input-name3" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name3">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name3">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-box help-on-focus help-on-hover">
        <label for="input-name4">Text Field</label>
        <div class="form-group">
            <input id="input-name4" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name4">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name4">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Inline Label <small>(hover + focus)</small></h2>

    <div class="form-field help-label help-on-focus help-on-hover">
        <label for="input-name5">Text Field</label>
        <div class="form-group">
            <input id="input-name5" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name5">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name5">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-label help-on-focus help-on-hover">
        <label for="input-name6">Text Field</label>
        <div class="form-group">
            <input id="input-name6" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name6">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name6">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Tooltip on Label <small>(hover + focus)</small></h2>

    <div class="form-field help-tooltip help-on-focus help-on-hover">
        <label for="input-name7">Text Field</label>
        <div class="form-group">
            <input id="input-name7" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name7">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name7">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-tooltip help-on-focus help-on-hover">
        <label for="input-name8">Text Field</label>
        <div class="form-group">
            <input id="input-name8" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name8">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name8">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Textarea</h2>

    <div class="form-field help-label help-on-focus help-on-hover">
        <label for="input-name6">Plain Text Field</label>
        <div class="form-group">
            <textarea rows="10" id="input-name6" name="textarea" placeholder="Add your content here" aria-describedby="help-name6"></textarea>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name6">This is some help for this Total CMS form field</p>
    </div>

    <h2>Select</h2>

    <div class="form-field help-label select-field">
        <label for="input-name9">Select</label>
        <div class="form-group">
            <select id="input-name9" name="input" placeholder="Add your title here" aria-describedby="help-name9">
                <option selected value="">Select Something</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <div class="form-field help-label select-field">
        <label for="input-name9">Select Multiple</label>
        <div class="form-group">
            <select multiple size="6" id="input-name9" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
                <option disabled>Please choose an option</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <script>
    const selects = Array.from(document.querySelectorAll('.select-field select:not([multiple])'));
    const emptySelect = select => {
        select.value ? select.classList.remove('empty') : select.classList.add('empty');
    };
    selects.forEach(select => {
        emptySelect(select);
        select.addEventListener('change', e => emptySelect(e.target) );
    });
    </script>

    <h2>Date</h2>

    <div class="form-field help-label date-field">
        <label for="input-name9">Date Field</label>
        <div class="form-group">
            <input id="input-name9" type="date" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <div class="form-field help-label date-field">
        <label for="input-name9">Date Field</label>
        <div class="form-group">
            <input id="input-name9" type="datetime-local" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <h2>Email</h2>

    <div class="form-field help-label email-field">
        <label for="input-name9">Email Field</label>
        <div class="form-group">
            <input id="input-name9" type="email" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <h2>Password</h2>

    <div class="form-field help-label password-field">
        <label for="input-name9">Password Field</label>
        <div class="form-group">
            <input id="input-name9" type="password" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <h2>Object ID</h2>

    <div class="form-field help-label id-field">
        <label for="input-name9">ID Field</label>
        <div class="form-group">
            <input id="input-name9" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <h2>URL</h2>

    <div class="form-field help-label">
        <label for="input-name9">URL Field</label>
        <div class="form-group">
            <input id="input-name9" type="url" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Telephone</h2>

    <div class="form-field help-label">
        <label for="input-name9">Telephone Field</label>
        <div class="form-group">
            <input id="input-name9" type="tel" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Number</h2>

    <div class="form-field help-label">
        <label for="input-name9">Number Field</label>
        <div class="form-group">
            <input id="input-name9" type="number" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Color</h2>

    <div class="form-field help-label color-field">
        <label for="input-name9">Color Field</label>
        <div class="form-group">
            <input id="input-name9" type="color" name="input" value="" placeholder="Add your title here" aria-describedby="help-name9">
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Slider</h2>

    <script>
        function rangeSlide(value) {
            document.getElementById('range-value').innerHTML = value;
        }
    </script>

    <div class="form-field help-label">
        <label for="input-name9">Slider Field</label>
        <div class="form-group">
            <input id="input-name9" type="range" name="input" value="10" min="0" max="100" onChange="rangeSlide(this.value)" ondrag="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)" aria-describedby="help-name9">
            <div id="range-value" class="range-value">10</div>
        </div>
        <p class="help" id="help-name9">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <h2>List</h2>

    <div class="form-field help-label list-field">
        <label for="input-choices">List Field</label>
        <div class="form-group">
            <select id="input-choices" name="choices" placeholder="Add your tags here" aria-describedby="help-choices" multiple>
                <option selected value="dog">Dog</option>
                <option selected value="cat">Cat</option>
                <option selected value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <!-- <input id="input-choices" type="text" name="input" value="" placeholder="Add your tags here" aria-describedby="help-choices"> -->
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-choices">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <script src="tcms-assets/choices/choices.js"></script>
    <script>
    const element = document.getElementById('input-choices');
    const choices = new Choices(element, {
        allowHTML             : true,
        removeItemButton      : true,
        duplicateItemsAllowed : false,
        addChoices            : true,
    });
    </script>


    <h2>Checkbox</h2>

    <div class="form-field check-field">
        <input id="checkbox" type="checkbox" name="input" aria-describedby="help-checkbox">
        <label for="checkbox">List Field</label>
        <p class="help" id="help-checkbox">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Toggle</h2>

    <div class="form-field toggle-field">
        <label for="toggle">Toggle Field</label>
        <div class="switch">
            <input id="toggle" type="checkbox" name="toggle" aria-describedby="help-toggle">
            <label for="toggle"></label>
        </div>
        <p class="help" id="help-toggle">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Radio</h2>

    <div class="container">
        <div class="radio">
            <input id="radio-1" name="radio" type="radio" value="one" checked>
            <label for="radio-1" class="radio-label">Option 1</label>
        </div>

        <div class="radio">
            <input id="radio-2" name="radio" type="radio" value="two">
            <label  for="radio-2" class="radio-label">Option 2</label>
        </div>

        <div class="radio">
            <input id="radio-3" name="radio" type="radio" value="three">
            <label  for="radio-3" class="radio-label">Option 3</label>
        </div>

        <!-- <div class="radio hide">
          <input id="radio-3" name="radio" type="radio" value="three" disabled>
          <label for="radio-3" class="radio-label">Disabled</label>
        </div> -->
      </div>

    <script type="text/javascript" src="tcms-assets/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="tcms-assets/codemirror/xml.js"></script>
    <script type="text/javascript" src="tcms-assets/dompurify/purify.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/froala_editor.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/align.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/image.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/link.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/lists.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/table.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/video.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/url.min.js"></script>
    <script type="text/javascript" src="tcms-assets/froala/plugins/entities.min.js"></script>

    <h2>Styled Text</h2>

    <div class="form-field styled-text-field">
        <label for="styled-text">Styled Text Field</label>
        <div class="form-group">
            <textarea id='styled-text' name="styled-text" placeholder="Enter your content." aria-describedby="help-styled-text">
                <h1>Total CMS Styled Text</h1>
                <p>The editor can also be initialized on a textarea.</p>
            </textarea>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-styled-text">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>


    <script>
    (function () {
        const editorInstance = new FroalaEditor('#styled-text', {
            key: "zEG4iH4B11D9B5B4F4g1JWSDBCQG1ZGDf1C1d2JXDAAOZWJhE5B4E4C3F2H3C11A4C4E5==",
            attribution: false,
            heightMax: 500,
        })
    })()
    </script>

    <h2>SVG</h2>

    <div class="form-field svg-field">
        <label for="styled-text">SVG Field</label>
        <div class="form-group">
            <textarea id='svg-editor' name="svg-editor" placeholder="Enter HTML Mode to add SVG code." aria-describedby="help-svg-editor">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                    <g>
                        <path d="M24 27.569L13.391 21.444V11.886C13.391 8.35396 16.265 5.47996 19.797 5.47996C21.381 5.47996 22.883 6.08296 24.041 7.10796L27.187 5.29196C27.331 5.20896 27.48 5.14296 27.627 5.06696C25.669 2.82796 22.824 1.48096 19.797 1.48096C14.06 1.48096 9.39203 6.14896 9.39203 11.887V23.754L20 29.88L24 27.569Z" fill="url(#nc-open-ai-0_linear_314_2)"></path>
                        <path d="M20.909 25.785V13.534L29.187 8.75599C32.246 6.98999 36.171 8.04099 37.938 11.1C38.73 12.472 38.959 14.074 38.65 15.589L41.796 17.405C41.94 17.488 42.072 17.584 42.211 17.673C43.171 14.858 42.915 11.72 41.402 9.09899C38.533 4.12999 32.157 2.42199 27.187 5.29099L16.909 11.224V23.475L20.909 25.785Z" fill="url(#nc-open-ai-1_linear_314_2)"></path>
                        <path d="M20.909 22.2149L31.518 16.0889L39.795 20.8689C42.854 22.6349 43.906 26.5599 42.14 29.6189C41.348 30.9909 40.075 31.9899 38.608 32.4799V36.1119C38.608 36.2789 38.591 36.4409 38.583 36.6059C41.5 36.0299 44.091 34.2389 45.604 31.6189C48.473 26.6499 46.764 20.2739 41.795 17.4049L31.518 11.4709L20.908 17.5959L20.909 22.2149Z" fill="url(#nc-open-ai-2_linear_314_2)"></path>
                        <path d="M24 20.431L34.609 26.556V36.115C34.609 39.647 31.735 42.521 28.203 42.521C26.619 42.521 25.117 41.918 23.959 40.893L20.813 42.709C20.669 42.792 20.52 42.858 20.373 42.934C22.331 45.173 25.176 46.52 28.203 46.52C33.94 46.52 38.608 41.852 38.608 36.114V24.247L28 18.121L24 20.431Z" fill="url(#nc-open-ai-3_linear_314_2)"></path>
                        <path d="M27.091 22.215V34.465L18.813 39.243C15.754 41.009 11.829 39.958 10.062 36.899C9.27001 35.527 9.04101 33.925 9.35001 32.41L6.20401 30.594C6.06001 30.511 5.92801 30.415 5.78901 30.326C4.82901 33.141 5.08501 36.279 6.59801 38.9C9.46701 43.869 15.843 45.577 20.813 42.708L31.091 36.775V24.524L27.091 22.215Z" fill="url(#nc-open-ai-4_linear_314_2)"></path>
                        <path d="M27.091 25.785L16.482 31.911L8.20502 27.131C5.14602 25.365 4.09402 21.44 5.86002 18.381C6.65202 17.009 7.92502 16.01 9.39202 15.52V11.888C9.39202 11.721 9.40902 11.559 9.41702 11.394C6.50002 11.97 3.90902 13.761 2.39602 16.381C-0.472976 21.35 1.23602 27.726 6.20502 30.595L16.482 36.529L27.092 30.404L27.091 25.785Z" fill="url(#nc-open-ai-5_linear_314_2)"></path>
                        <defs>
                            <linearGradient id="nc-open-ai-0_linear_314_2" x1="9.5" y1="23.5" x2="24" y2="27.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                            <linearGradient id="nc-open-ai-1_linear_314_2" x1="17" y1="11" x2="21" y2="26" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                            <linearGradient id="nc-open-ai-2_linear_314_2" x1="31.5" y1="11.5" x2="21" y2="22" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                            <linearGradient id="nc-open-ai-3_linear_314_2" x1="38.5" y1="24.5" x2="24.5" y2="20.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                            <linearGradient id="nc-open-ai-4_linear_314_2" x1="30.5" y1="37" x2="27.5" y2="22.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                            <linearGradient id="nc-open-ai-5_linear_314_2" x1="16.5" y1="36.5" x2="27.5" y2="26" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#6AD084"></stop>
                                <stop offset="1" stop-color="#3CB34B"></stop>
                            </linearGradient>
                        </defs>
                    </g>
                </svg>
            </textarea>
            <div class="form-group-icon"></div>
        </div>
        <p class="help" id="help-svg-editor">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <script>
    (function () {
        const svgTags = [
            'a', 'altGlyph', 'altGlyphDef', 'altGlyphItem', 'animate', 'animateMotion', 'animateTransform',
            'circle', 'clipPath', 'cursor', 'defs', 'desc', 'discard', 'ellipse', 'feBlend', 'feColorMatrix',
            'feComponentTransfer', 'feComposite', 'feConvolveMatrix', 'feDiffuseLighting', 'feDisplacementMap',
            'feDistantLight', 'feDropShadow', 'feFlood', 'feFuncA', 'feFuncB', 'feFuncG', 'feFuncR',
            'feGaussianBlur', 'feImage', 'feMerge', 'feMergeNode', 'feMorphology', 'feOffset', 'fePointLight',
            'feSpecularLighting', 'feSpotLight', 'feTile', 'feTurbulence', 'filter', 'font-face-format',
            'font-face-name', 'font-face-src', 'font-face-uri', 'font-face', 'font', 'foreignObject', 'g',
            'glyph', 'glyphRef', 'hkern', 'image', 'line', 'linearGradient', 'marker', 'mask', 'metadata',
            'missing-glyph', 'mpath', 'path', 'pattern', 'polygon', 'polyline', 'radialGradient', 'rect', 'script',
            'set', 'stop', 'style', 'svg', 'switch', 'symbol', 'text', 'textPath', 'title', 'tref', 'tspan',
            'use', 'view', 'vkern',
        ];
        const svgAttrs = [
            'accent-height', 'accumulate', 'additive', 'alignment-baseline', 'alphabetic', 'amplitude',
            'arabic-form', 'ascent', 'attributeName', 'attributeType', 'azimuth', 'baseFrequency',
            'baseline-shift', 'baseProfile', 'bbox', 'begin', 'bias', 'by', 'calcMode', 'cap-height', 'class',
            'clip', 'clip-path', 'clip-rule', 'clipPathUnits', 'color', 'color-interpolation',
            'color-interpolation-filters', 'color-profile', 'contentScriptType', 'contentStyleType', 'cursor',
            'cx', 'cy', 'd', 'descent', 'diffuseConstant', 'direction', 'display', 'divisor', 'dominant-baseline',
            'dur', 'dx', 'dy', 'edgeMode', 'elevation', 'enable-background', 'end', 'exponent', 'fill',
            'fill-opacity', 'fill-rule', 'filter', 'filterRes', 'filterUnits', 'flood-color', 'flood-opacity',
            'font-family', 'font-size', 'font-size-adjust', 'font-stretch', 'font-style', 'font-variant',
            'font-weight', 'format', 'fr', 'from', 'fx', 'fy', 'g1', 'g2', 'glyph-name',
            'glyph-orientation-horizontal', 'glyph-orientation-vertical', 'glyphRef', 'gradientTransform',
            'gradientUnits', 'hanging', 'height', 'horiz-adv-x', 'horiz-origin-x', 'horiz-origin-y', 'href',
            'id', 'ideographic', 'image-rendering', 'in', 'in2', 'intercept', 'k', 'k1', 'k2', 'k3', 'k4',
            'kernelMatrix', 'kernelUnitLength', 'kerning', 'keyPoints', 'keySplines', 'keyTimes', 'lang',
            'lengthAdjust', 'letter-spacing', 'lighting-color', 'limitingConeAngle', 'marker-end', 'marker-mid',
            'marker-start', 'markerHeight', 'markerUnits', 'markerWidth', 'mask', 'maskContentUnits',
            'maskUnits', 'mathematical', 'max', 'media', 'method', 'min', 'mode', 'name', 'numOctaves', 'onclick',
            'opacity', 'operator', 'order', 'orient', 'orientation', 'origin', 'overflow', 'overline-position',
            'overline-thickness', 'paint-order', 'panose-1', 'path', 'pathLength', 'patternContentUnits',
            'patternTransform', 'patternUnits', 'pointer-events', 'points', 'pointsAtX', 'pointsAtY', 'pointsAtZ',
            'preserveAlpha', 'preserveAspectRatio', 'primitiveUnits', 'r', 'radius', 'refX', 'refY', 'repeatCount',
            'repeatDur', 'requiredFeatures', 'restart', 'result', 'rotate', 'rx', 'ry', 'scale', 'seed',
            'shape-rendering', 'side', 'slope', 'spacing', 'specularConstant', 'specularExponent', 'spreadMethod',
            'startOffset', 'stdDeviation', 'stemh', 'stemv', 'stitchTiles', 'stop-color', 'stop-opacity',
            'strikethrough-position', 'strikethrough-thickness', 'string', 'stroke', 'stroke-dasharray',
            'stroke-dashoffset', 'stroke-linecap', 'stroke-linejoin', 'stroke-miterlimit', 'stroke-opacity',
            'stroke-width', 'style', 'surfaceScale', 'crossorigin', 'systemLanguage', 'tabindex', 'tableValues',
            'target', 'targetX', 'targetY', 'text-anchor', 'text-decoration', 'text-rendering', 'textLength',
            'to', 'transform', 'transform-origin', 'type', 'u1', 'u2', 'underline-position', 'underline-thickness',
            'unicode', 'unicode-bidi', 'unicode-range', 'units-per-em', 'v-alphabetic', 'v-hanging',
            'v-ideographic', 'v-mathematical', 'values', 'vector-effect', 'version', 'vert-adv-y', 'vert-origin-x',
            'vert-origin-y', 'viewBox', 'viewTarget', 'visibility', 'width', 'widths', 'word-spacing',
            'writing-mode', 'x', 'x-height', 'x1', 'x2', 'xChannelSelector', 'xlink:arcrole', 'xlink:href',
            'xlink:show', 'xlink:title', 'xlink:type', 'xml:base', 'xml:lang', 'xml:space', 'xmlns', 'y', 'y1',
            'y2', 'yChannelSelector', 'z', 'zoomAndPan',
        ];
        const editor = new FroalaEditor('#svg-editor', {
            key                  : "zEG4iH4B11D9B5B4F4g1JWSDBCQG1ZGDf1C1d2JXDAAOZWJhE5B4E4C3F2H3C11A4C4E5==",
            attribution          : false,
            heightMax            : 300,
            toolbarButtons       : [ 'html' ],
            htmlAllowedTags      : svgTags,
            htmlAllowedEmptyTags : svgTags,
            htmlAllowedAttrs     : svgAttrs,
            htmlUntouched        : true,
        }, function() {
            // editor.codeView.toggle()
        });
    })()
    </script>

    <h2>Set</h2>

    <h2>Image</h2>
    <h2>File</h2>
    <h2>Gallery</h2>
    <h2>Depot</h2>
</div>