{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<main class="dash-main-content">
	<h1>Log Analyzer</h1>
	<p>This will be a way to look at the logs for Total CMS</p>
</main>

{% endblock %}
