.cms-alertbox {
	visibility: hidden;
	position:fixed;
	width:100%;
	top:-7rem;
	left:0;
	padding:2rem;
	text-align:center;
	color:#fff;
	opacity:0.95;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	transition:all 800ms ease-in-out;

	&.show {
		visibility:visible!important;
		top:0;
		z-index:9999999;
	}
	&.fadeOut {
		opacity:0;
	}
}

#cms-alertbox-success {
	background-color:#43AC6A;
}
#cms-alertbox-error {
	background-color:#f04124;
}