form.totalform {

	fieldset.file-box {
	    .dz-preview {
			width:9.0625rem;
			min-height:9.0625rem;
			margin:0 auto;
			padding:1rem 0;
			text-align:center;

			.filename {
				margin-bottom:0;
			}

			.dz-progress {
				height:1rem;
				.dz-upload-progress-label {
					font-size:0.5rem;
				    line-height:1rem;
				}
			}
		}
	}
	&.dz-drag-hover {
		fieldset.file-box {
			.fa.file-icon::before {
				content: "\f0ee"; //fa-cloud-upload
			}
		}
	}
}