{% macro input(name, value, type = "text", size = 20) %}

<div class="form-field">
    <label for="input-name">Text Field</label>
    <div class="input-group">
        <input id="input-name" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name">
        <label class="input-icon"></label>
    </div>
    <div class="help-icon"></div>
    <div class="help" id="help-name">stake_help</div>
</div>

{% endmacro %}

{% macro textarea(name, value, rows = 10, cols = 40) %}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro slug(name, value) %}
{% endmacro %}

{% macro hidden(name, value) %}
{% endmacro %}

{% macro datetime(name, value) %}
{% endmacro %}

{% macro time(name, value) %}
{% endmacro %}

{% macro select(name, value) %}
{% endmacro %}

{% macro multiselect(name, value) %}
{% endmacro %}

{% macro styledtext(name, value) %}
{% endmacro %}

{% macro markdown(name, value) %}
{% endmacro %}

{% macro color(name, value) %}
{% endmacro %}

{% macro depot(name, value) %}
{% endmacro %}

{% macro file(name, value) %}
{% endmacro %}

{% macro image(name, value) %}
{% endmacro %}

{% macro gallery(name, value) %}
{% endmacro %}

{% macro number(name, value) %}
{% endmacro %}

{% macro rangeslider(name, value) %}
{% endmacro %}

{% macro radio(name, value) %}
{% endmacro %}

{% macro toggle(name, value) %}
{% endmacro %}

{% macro checkbox(name, value) %}
{% endmacro %}

{% macro email(name, value) %}
{% endmacro %}

{% macro url(name, value) %}
{% endmacro %}

{% macro password(name, value) %}
{% endmacro %}

{% macro deck(name, value) %}
{% endmacro %}

{% macro list(name, value) %}
{% endmacro %}

{% macro currency(name, value) %}
{% endmacro %}

{% macro blog() %}
{% endmacro %}

https://choices-js.github.io/Choices/
https://flatpickr.js.org/examples/
https://floating-ui.com/docs/tutorial
http://stryzhevskyi.github.io/rangeSlider/
https://sortablejs.github.io/Sortable/
https://projects.verou.me/awesomplete/
https://www.w3schools.com/howto/howto_css_switch.asp
https://codepen.io/coldsoul/pen/pbdvPa
https://codepen.io/triss90/pen/XNEdRe
https://codepen.io/mblode/pen/VwGxaO

https://hslpicker.com/

https://felixg.io/products/datedropper-javascript
https://github.com/wbotelhos/raty
