//--------------------------------
// Fieldset - Text Box
//--------------------------------
form.totalform {

	fieldset.text-box {
		> .fa {
		    font-size:1.2rem;
			opacity:0;
			position:absolute;
			overflow:visible;
			right:5px;
			top:50%;
			z-index: 1;
			transition:opacity 500ms ease-in-out;
			margin-top:-0.6rem;

			&.password-preview {
				opacity:0.5;
				cursor:pointer;
				z-index:2;
				&:hover{
					opacity:1.0;
				}
			}
		}

		&.textarea textarea, &.text input {
			background-image:url('data:image/svg+xml;utf8,<?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#ccc"><path d="M493.255 56.236l-37.49-37.49c-24.993-24.993-65.515-24.994-90.51 0L12.838 371.162.151 485.346c-1.698 15.286 11.22 28.203 26.504 26.504l114.184-12.687 352.417-352.417c24.992-24.994 24.992-65.517-.001-90.51zm-95.196 140.45L174 420.745V386h-48v-48H91.255l224.059-224.059 82.745 82.745zM126.147 468.598l-58.995 6.555-30.305-30.305 6.555-58.995L63.255 366H98v48h48v34.745l-19.853 19.853zm344.48-344.48l-49.941 49.941-82.745-82.745 49.941-49.941c12.505-12.505 32.748-12.507 45.255 0l37.49 37.49c12.506 12.506 12.507 32.747 0 45.255z"></path></svg>');
			background-repeat: no-repeat;
			background-position: center right 10px;
			background-size: 20px;
			padding-right:30px;
		}

		&.textarea textarea {
			background-position: top 5px right 10px;
		}

		textarea {
		    line-height:1.6;
			margin-bottom:0;
			resize:none;
			&:focus{
				resize:vertical;
			}
		}

		&.textarea {
			border-width: 5px;
			border-style: solid;
			border-color: #f8f8f8;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
		}

		&.number .unit {
			position: absolute;
			top:50%;
			right:30px;
			transform: translateY(-55%);
			color:#777;
		}
		// &.textarea > .fa {
		// 	right:10px; // widearea border
		// 	top:auto;
		// 	bottom:10px;
		// }
	}

	&.success fieldset.text-box,fieldset.text-box.success {
		.fa-check-circle {
			opacity:1;
		}
		.password-preview {
			opacity:0;
		}
	}
	&.error fieldset.text-box,fieldset.text-box.error {
		.fa-times-circle {
			opacity:1;
		}
		.password-preview {
			opacity:0;
		}
	}
	&.saving fieldset.text-box,fieldset.text-box.saving {
		&.input .fa-circle-o-notch {
			top:30%;
		}
		.fa-circle-o-notch {
			opacity:1;
		}
		.password-preview {
			opacity:0;
		}
	}
}