// COLORS
$white: hsla(0, 0, 100%, 1);
$darkgray: hsla(0, 0, 24%, 1);
$base-gray: hsla(203, 15.8537%, 32.1569%, 1.0000);
$gray-saturate-85: saturate($base-gray, 85%);
$button-blue: lighten($gray-saturate-85, 7%);
$transition-fast: 0.15s;

// ON OFF SWITCH
$switch-height: 22px;
$switch-width: 55px;
$switch-group-height: $switch-height+2;
$toggle-group-height: $switch-height+5;

fieldset.toggle {
    position: relative;
    height: $toggle-group-height;
    margin-top: -$toggle-group-height/2;
    min-height: 48px;

    input[type=checkbox] {
        position: absolute;
        left: 10px;
        &:checked~.switch .switch-label .switch-inner {
            margin-left: 0;
        }
        &:checked~.switch .switch-label .switch-switch {
            right: 1px;
            box-shadow: 0 0 3px rgba(0, 0, 0, .5);
        }
        &:focus~.switch {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
        }
    }

    label {
        position: absolute;
        cursor: pointer;
        padding-left: $switch-width + 5;
        display: inline-block;
        text-align: left;
        line-height: $switch-group-height;
        width: 100%;
        z-index: 1;
        height: $switch-group-height;
    }

    .switch {
        position: relative;
        width: $switch-width;
        display: inline-block;
        font-size: 80%;
    }
    .switch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid darken($white, 10%);
        border-radius:$switch-height - 2;
        margin: 0;
    }
    .switch-inner {
        width: 200%;
        margin-left: -100%;
        transition:margin $transition-fast ease-in-out;
        &:before,
        &:after {
            float: left;
            width: 50%;
            height: $switch-group-height;
            padding: 0;
            line-height: $switch-group-height;
            font-size: 80%;
            color: $white;
            font-weight: normal;
            box-sizing:border-box;
        }
        &:before {
            content: attr(data-true);
            padding-left: 7px;
            background-color: $button-blue;
            color: $white;
        }
        &:after {
            content: attr(data-false);
            padding-right: 10px;
            background-color: darken($white, 2%);
            color: $darkgray;
            text-align: right;
        }
    }
    .switch-switch {
        width: $switch-height;
        height: $switch-height;
        margin: 0;
        background: $white;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        border-radius:50%;
        position: absolute;
        top: 2px;
        bottom: 0;
        right: $switch-height + 13;
        transition: right $transition-fast ease-in-out;
    }
}
