
.total-feed-admin-list .post {
	.post-image {
		position: relative;
		> .fa {
			line-height:100px;
		}
	}
	.feedbar-edit{
		cursor:pointer;
	}
	&:hover {
	    .actionbar {
	        opacity:1;
	    }
	}
}
#feed-edit,#feed-edit-hipwig {
	max-width:40em!important;
	.actionbar {
		display:none;
	}
}
.hide-feed-image .image-box {
	display:none;
}
