%%[[if preview]]%%
<p class="cms-version-warning">Attention: The CMS on your server is out of date. Please "Republish All Files". <em>click to ingore</em></p>

<p class="web-address-warning">Could not communicate with Total CMS. Either you have not published your project yet, or your website address is not properly set. <em>Click to ingore</em></p>

<p class="baseurl-warning">The Web Address setting inside your project settings should end with a "/". Please go to your General project settings to fix this. <em>Click to ingore</em></p>
%%[[endif]]%%

%%[[if !edit]]%%
<div id="cms-alertbox-success" class="cms-alertbox"><i class="fa fa-check fa-3x"></i></div>
<div id="cms-alertbox-error" class="cms-alertbox"><i class="fa fa-times fa-3x"></i></div>

<!--
	Image Preview Template
-->
<script type="text/template" id="image-preview-template">
<div class="dz-preview dz-file-preview">
	<div class="actionbar">
		<a class="imagebar-tag left"   href="javascript:void(0)" title="%id=localeUpdateAltTag%"><i class="fa fa-tag"></i></a>
		<a class="imagebar-image left" href="javascript:void(0)" title="%id=localeCopyImagePath%"><i class="fa fa-image"></i></a>
		<a class="imagebar-featured left"  href="javascript:void(0)" title="%id=localeStarImage%"><i class="fa fa-star-o"></i><i class="fa fa-star"></i></a>
		<a class="imagebar-trash right" href="javascript:void(0)" title="%id=localeDeleteImage%"><i class="fa fa-trash-o"></i></a>
		<i class="fa fa-fw fa-bars imagebar-move"></i>
	</div>
	<img oncontextmenu="return false;" draggable="false" data-dz-thumbnail />
	<div class="dz-progress">
		<span class="dz-upload" data-dz-uploadprogress></span>
		<span class="dz-upload-progress-label" data-dz-uploadprogress>0%</span>
	</div>
	<i class="fa fa-check-circle"></i>
	<i class="fa fa-times-circle has-tip" data-tooltip title="%id=localeError%"></i>
</div>
</script>
<!--
	Copy Image Path Reveal Template
-->
<script type="text/template" id="imagebar-image-template">
<div id="imagebar-image" class="reveal-modal" data-reveal>
	<h4>%id=localeCopyImagePath%</h4>
	<hr/>
	<label>%id=localeFullImage% <a class="right image" href="#" target="_blank"><i class="fa fa-external-link"></i></a></label>
	<input type="text" name="image" readonly/>
	<label>%id=localeThumb% <a class="right thumb" href="#" target="_blank"><i class="fa fa-external-link"></i></a></label>
	<input type="text" name="thumb" readonly/>
	<label>%id=localeSquareThumb% <a class="right square" href="#" target="_blank"><i class="fa fa-external-link"></i></a></label>
	<input type="text" name="square" readonly/>

	<img src="" alt=""/>
	<a class="close-reveal-modal">&#215;</a>
</div>
</script>
<!--
	Alt Tag Reveal Template
-->
<script type="text/template" id="altbox-template">
<div id="altbox" class="reveal-modal" data-reveal>
	<h4>%id=localeUpdateAltTag%</h4>
	<hr/>

	<form class="totalform alt-form" autocomplete="off" method="post" action="%siteAssetPath%/totalcms/totalapi.php" data-baseurl="%baseURL%">

		<img src="" alt=""/>

		<fieldset class="text-box textarea">
			<textarea class="track-selection" name="alt" spellcheck="true" rows="2" placeholder="%id=localeAltPlaceholder%"></textarea>
		</fieldset>

		<input type="hidden" name="_METHOD" value="PUT"/>
		<input type="hidden" name="type"  value="image"/>
		<input type="hidden" name="filename" value="false"/>
		<input type="hidden" name="timestamp" />
		<input type="hidden" name="ext"   value="jpg"/>
		<input type="hidden" name="set"  value=""/>
		<input type="hidden" name="permalink" value=""/>

		<button class="button radius" type="submit" value="%id=localeSave%">%id=localeSave%</button>
	</form>

	<a class="close-reveal-modal">&#215;</a>
</div>
</script>
%%[[endif]]%%