<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

<div class="container">
    <h2>Help Text - Default Style</h2>

    <div class="form-field">
        <label for="input-name1">Text Field</label>
        <div class="input-group">
            <input id="input-name1" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name1">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name1">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field">
        <label for="input-name2">Text Field</label>
        <div class="input-group">
            <input id="input-name2" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name2">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name2">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Show on Focus</h2>

    <div class="form-field help-focus">
        <label for="input-name1">Text Field</label>
        <div class="input-group">
            <input id="input-name1" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name1">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name1">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-focus">
        <label for="input-name2">Text Field</label>
        <div class="input-group">
            <input id="input-name2" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name2">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name2">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Tooltip on Focus</h2>

    <div class="form-field help-below">
        <label for="input-name3">Text Field</label>
        <div class="input-group">
            <input id="input-name3" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name3">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name3">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-below">
        <label for="input-name4">Text Field</label>
        <div class="input-group">
            <input id="input-name4" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name4">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name4">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Inline Label on Focus</h2>

    <div class="form-field help-label">
        <label for="input-name5">Text Field</label>
        <div class="input-group">
            <input id="input-name5" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name5">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name5">This is some help for this Total CMS form field</p>
    </div>

    <div class="form-field help-label">
        <label for="input-name6">Text Field</label>
        <div class="input-group">
            <input id="input-name6" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name6">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name6">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
    </div>

    <h2>Help Text - Tooltip on Icon Hover</h2>

    <div class="form-field help-tooltip">
        <label for="input-name7">Text Field</label>
        <div class="input-group">
            <input id="input-name7" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name7">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name7">This is some help for this Total CMS form field</p>
        <button class="help-icon"></button>
    </div>

    <div class="form-field help-tooltip">
        <label for="input-name8">Text Field</label>
        <div class="input-group">
            <input id="input-name8" type="text" name="input" value="" placeholder="Add your title here" aria-describedby="help-name8">
            <div class="input-group-label"></div>
        </div>
        <p class="help" id="help-name8">This is some help for this Total CMS form field. This is some help for this Total CMS form field.</p>
        <button class="help-icon"></button>
    </div>

</div>

<style>
    html {
        box-sizing : border-box;
        font-size  : 100%
    }

    *,
    ::after,
    ::before {
        box-sizing : inherit
    }

    body {
        font-family            : ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        -webkit-font-smoothing : antialiased;
    }

    h2 {
        font-weight : 200;
        margin      : 3rem 0 1rem 0;
        opacity     : 0.5;
    }

    .container {
        max-width : 1000px;
        margin    : 0 auto;
    }

    :root {
        --icon-help : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%0A %3Cg fill='%23999999'%3E%0A %3Cpath d='M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z'%3E%3C%2Fpath%3E%0A %3C%2Fg%3E%0A%3C%2Fsvg%3E");
        --icon-text : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='currentColor'%3E%3Cpolyline points='3,5 3,1 29,1 29,5 '%3E%3C/polyline%3E %3Cline x1='16' y1='1' x2='16' y2='31'%3E%3C/line%3E %3Cline x1='11' y1='31' x2='21' y2='31'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
    }

    .form-field {
        position : relative;
    }

    input,
    textarea {
        display          : block;
        box-sizing       : border-box;
        width            : 100%;
        height           : 2.4375rem;
        padding          : .5rem;
        border           : 1px solid hsl(0, 0%, 79%);
        border-radius    : 0;
        background-color : hsl(0, 0%, 100%);
        box-shadow       : inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
        font-family      : inherit;
        font-size        : 1rem;
        font-weight      : 400;
        line-height      : 1.5;
        color            : hsl(0, 0%, 4%);
        transition       : box-shadow .5s, border-color .25s ease-in-out;
        appearance       : none;
    }

    input:focus,
    textarea:focus,
    input:focus~.input-group-label {
        outline      : 0;
        border-color : hsl(0, 0%, 69%);
        box-shadow   : 0 1px 2px hsla(0, 0%, 4%, 0.1);
        transition   : box-shadow .5s, border-color .25s ease-in-out;
    }

    textarea {
        max-width : 100%
    }

    textarea[rows] {
        height : auto
    }

    input:disabled,
    input[readonly],
    textarea:disabled,
    textarea[readonly] {
        background-color : hsl(0, 0%, 90%);
        cursor           : not-allowed
    }

    ::placeholder {
        color: hsl(0, 0%, 79%)
    }

    label {
        display     : block;
        margin      : 0;
        font-size   : .875rem;
        font-weight : 400;
        line-height : 1.8;
        color       : hsl(0, 0%, 4%);
        transition  : opacity 0.5s;
        width       : max-content;
    }

    .input-group {
        display       : flex;
        width         : 100%;
        margin-bottom : 1rem;
        align-items   : stretch;

    }

    .input-group>* {
        margin : 0;
    }

    .input-group-label {
        padding             : 0 1.5rem;
        width               : 1rem;
        border              : 1px solid hsl(0, 0%, 79%);
        color               : hsl(0, 0%, 60%);
        text-align          : center;
        white-space         : nowrap;
        display             : flex;
        flex                : 0 0 auto;
        box-shadow          : 0 0 0 hsla(0, 0%, 4%, 0.1);
        align-items         : center;
        background-color    : hsl(0, 0%, 90%);
        background-image    : var(--icon-text);
        background-repeat   : no-repeat;
        background-size     : 1rem;
        background-position : center;
        transition          : box-shadow .5s, border-color .25s ease-in-out;
    }

    .input-group-label:first-child {
        border-right : 0
    }

    .input-group-label:last-child {
        border-left : 0
    }

    .input-group-field {
        border-radius    : 0;
        -webkit-box-flex : 1;
        -ms-flex         : 1 1 0px;
        flex             : 1 1 0px;
        min-width        : 0;
    }

    .help {
        width               : max-content;
        max-width           : 100%;
        padding             : 0 1.1rem;
        margin-top          : -0.5rem;
        font-size           : 0.875rem;
        font-style          : italic;
        pointer-events      : none;
        background-repeat   : no-repeat;
        background-size     : 1rem;
        background-position : 0 1px;
        background-image    : var(--icon-help);
    }

    .help-focus .help {
        opacity : 0;
    }

    .help-below .help {
        width               : max-content;
        max-width           : clamp(100px, 50ch, 100%);
        position            : absolute;
        bottom              : 0;
        right               : 0;
        z-index             : 10;
        margin              : 0;
        border              : 1px solid hsl(0, 0%, 72%);
        padding             : 0.625rem 1.625rem;
        border-radius       : 2px;
        transform           : translateY(calc(100% - 1px));
        opacity             : 0;
        background-color    : hsl(0, 0%, 90%);
        background-position : 0.5rem 0.6875rem;
    }

    .help-label .help {
        line-height         : 1.8;
        margin              : 0;
        position            : absolute;
        top                 : 0;
        left                : 0;
        right               : 0;
        z-index             : 10;
        opacity             : 0;
        overflow            : hidden;
        white-space         : nowrap;
        text-overflow       : ellipsis;
        background-position : left;
    }

    .help-focus:has(input:focus) .help,
    .help-label:has(input:focus) .help,
    .help-below:has(input:focus) .help {
        opacity : 1;
    }

    .help-label label,
    .help-focus .help,
    .help-below .help,
    .help-label .help,
    .help-tooltip .help {
        transition : opacity 0.5s;
    }

    .help-label:has(input:focus) label {
        opacity : 0;
    }

    .help-icon {
        display             : inline;
        position            : absolute;
        top                 : 0.2rem;
        right               : 0;
        width               : 1.5rem;
        height              : 1.5rem;
        color               : hsl(0, 0%, 60%);
        z-index             : 10;
        background-color    : transparent;
        background-repeat   : no-repeat;
        background-size     : 1rem;
        background-position : center;
        background-image    : var(--icon-help);
        appearance          : none;
        border              : none;
    }

    .help-tooltip .help::after {
        content      : " ";
        position     : absolute;
        top          : 50%;
        left         : 100%;
        margin-top   : -5px;
        border-width : 5px;
        border-style : solid;
        border-color : transparent transparent transparent black;
    }

    .help-tooltip .help {
        position         : absolute;
        max-width        : clamp(200px, 50ch, 85vw);
        margin           : 0;
        background-color : black;
        color            : #fff;
        padding          : 10px;
        border-radius    : 6px;
        top              : 0.2rem;
        right            : 0;
        background-image : none;
        transform        : translateX(calc(-1.3rem - 5px)) translateY(calc(-50% + 0.5rem));
        opacity          : 0;
    }

    .help-tooltip .help-icon:hover~.help,
    .help-tooltip .help-icon:active~.help {
        opacity : 1;
    }
</style>