//------------------------------
// Text Fields
//------------------------------
::placeholder {
    color: hsl(0, 0%, 79%)
}

.total-form {
    [type="text"], [type="email"], [type="date"], [type="datetime-local"], [type="month"],
    [type="number"], [type="password"], [type="tel"], [type="time"],
    [type="url"], [type="week"], select, textarea {
        display          : block;
        box-sizing       : border-box;
        width            : 100%;
        height           : 2.4375rem;
        padding          : .5rem;
        border           : 1px solid hsl(0, 0%, 79%);
        border-radius    : 5px 0 0 5px;
        background-color : hsl(0, 0%, 100%);
        font-family      : inherit;
        font-size        : 1rem;
        font-weight      : 400;
        line-height      : 1.5;
        color            : hsl(0, 0%, 4%);
        appearance       : none;
        box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
        transition: box-shadow .5s, border-color .25s ease-in-out;
    }

    textarea {
        max-width: 100%;
        resize: vertical;

        &[rows] {
            height: auto;
            min-height: 100px;
        }
    }

    :disabled,
    [readonly] {
        background-color: hsl(0, 0%, 90%);
        cursor: not-allowed
    }
}

//------------------------------
// Date Field
//------------------------------
[type="date"] + .form-group-label,
[type="datetime-local"] + .form-group-label {
    background-image: var(--icon-date);
}

//------------------------------
// Email Field
//------------------------------
[type="email"] + .form-group-label {
    background-image: var(--icon-email);
}

//------------------------------
// Password Field
//------------------------------
[type="password"] + .form-group-label {
    background-image: var(--icon-lock);
}

//------------------------------
// ID Field
//------------------------------
.id-field {
    .form-group-label {
        background-image: var(--icon-id);
        border-width: 0;
    }

    input {
        background-color: #f3f3f3;
        border: none;
        box-shadow: none;
    }
}

//------------------------------
// URL Field
//------------------------------
[type="url"] + .form-group-label {
    background-image: var(--icon-url);
}

//------------------------------
// Telephone Field
//------------------------------
[type="tel"] + .form-group-label {
    background-image: var(--icon-tel);
}

//------------------------------
// Number Field
//------------------------------
[type="number"] + .form-group-label {
    background-image: var(--icon-number);
}