<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Total CMS 3 Docs</title>
  <link rel="stylesheet" href="{{ totalcms.assetsDir }}/docs.css">
</head>

<body>

	<header>
		<h1>Total CMS 3 Docs</h1>
	</header>

	<div class="page-layout">
		<aside class="main-nav">
			<nav>
				<ul class="menu">
					<li><a class="active" href="#">Home</a></li>
					<li><a href="#">Docs</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</aside>
		<main>

		</main>
		<aside class="onpage-nav">
			<nav>
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Docs</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</aside>
	</div>

</body>

</html>