<h1>Collection Help</h1>

<section class="dash-content-section">
	<p>If this is a new project, you can use the Project Setup tool to help you create some
	starter collections. Or add your own collections with the New Collections button at the
	bottom of this page.</p>
	<a class="dash-button transparent" href="utils/project-setup">Project Setup Tool</a>
</section>
