<h1>Collection Help</h1>

<section class="dash-content-section">
	<p>If this is a new project, some default collections have been made for you.
	You can use the Project Setup tool to help you create some more starter collections.
	Or add your own collections with the New Collections button at the bottom of this
	page.</p>
	<a class="dash-button transparent" href="utils/project-setup">Project Setup Tool</a>
</section>
