<h1>Collection Help</h1>

<section class="dash-content-section">
	<p>If this is a new project, use the Project Setup tool to help you create some starter collections.</p>
	<a class="dash-button transparent" href="utils/project-setup">Project Setup Tool</a>
</section>
