{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<main class="dash-main-content">
	{{ include(cms.edition.can('whitelabel_pro')
		? ['whitelabel/admin-home.twig', 'admin-home-default.twig']
		: ['admin-home-default.twig']
	, ignore_missing = true) }}
</main>

{% endblock %}
