{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

{# style tag here is temp hack until the style structure can be rethought #}
<main class="dash-main-content doc-content" style="width:100%">
		{{ include([
			'whitelabel/admin-home.twig',
			'admin-home.twig',
			'admin-home-default.twig'
		], ignore_missing = true) }}
</main>

{% endblock %}
