{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<main class="dash-main-content doc-content">
	<h1>Welcome to Total CMS 3</h1>
	<p>Ideas for this page...</p>
	<ul>
		<li>Quick links to common tasks</li>
		<li>Recent activity</li>
		<li>News and updates</li>
		<li>Links to documentation</li>
		<li>This page should be overridable with your own content</li>
		<li>Maybe a dashboard widget system</li>
		<li>Maybe a way to add your own custom dashboard pages</li>
		<li>Got any more ideas?</li>
	</ul>
</main>

{% endblock %}
