{% extends "admin-layout.twig" %}

{% block title %}Login to Total CMS{% endblock %}

{% block content %}
<main class="login-layout admin-layout">

	<section class="login-above">
		{{ include(cms.edition.can('whitelabel_templates')
			? ['whitelabel/login-above.twig', 'login-above.twig', 'login-above-default.twig']
			: cms.edition.can('templates')
			? ['login-above.twig', 'login-above-default.twig']
			: ['login-above-default.twig']
		, ignore_missing = true) }}
	</section>

	{% set authCollection = cms.objects(cms.config('auth','collection')) %}
	{% if authCollection is empty %}
		<div class="cms-twig-info" role="alert" style="margin:0">
			<h4>Setup First User Account</h4>
			<p>The credentials that you type below will be used to create the first admin user.</p>
		</div>
	{% endif %}

	{% set errorMessages = [] %}
	{% for message in flash.get('error') %}
		{% set errorMessages = errorMessages|merge([message]) %}
	{% endfor %}
	{% set formOptions = {
		collection    : collection ?? null,
		redirect      : getData.redirect ?? null,
		flashMessages : errorMessages
	} %}
	{% if loginFormOptions is defined %}
		{% set formOptions = formOptions|merge(loginFormOptions) %}
	{% endif %}
	{{ cms.form.loginForm(formOptions) }}

	<section class="login-below">
		{% if cms.edition.can('whitelabel_templates') %}
			{{ include('whitelabel/login-below.twig', ignore_missing = true) }}
		{% endif %}
	</section>
</main>
{% endblock %}
