{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

{% set user = cms.auth.userData() %}

<main class="dash-main-content">
	<h1>{{ t('profile.title') }}</h1>

	{% if not cms.config('auth', 'enable') or user is empty %}
		<div class="cms-twig-info" role="alert" style="margin:0;align-self:start">
			<h4>Authentication Disabled</h4>
			<p>User profiles are not available when authentication is disabled.</p>
		</div>
	{% else %}
	<section>
		{% set form = cms.form.builder(user.collection, {
			id          : user.id,
			save        : "Save",
			helpStyle   : 'label',
			helpOnFocus : true,
		}) %}
		{{ form.autoBuild() }}

		{# TODO: Update form to use patch without form fields instead of just hiding them #}

		<style>
		.totalform {
			display: block;
		}
		.form-field {
			display:none;
		}
		.form-field:has([name="name"]),
		.form-field:has([name="email"]),
		.form-field:has([name="password"]),
		.form-field:has([name="image"]) {
			display: block;
		}
		</style>

	</section>

	{{ cms.auth.passkeyManager()|raw }}
	{% endif %}
</main>

{% endblock %}
