{% extends "admin-dashboard.twig" %}

{% block dashcontent %}

<main class="dash-main-content">
	<h1>Total CMS Settings</h1>
	<p>We will be able to set global settings for the CMS here.</p>
</main>

{% endblock %}
