{% extends "admin-dashboard.twig" %}

{% set adminMenu = [] %}

{% if cms.edition.can('access_groups') %}
	{% set adminMenu = adminMenu | merge([{"title": "Access Groups", "path": "access-groups", "admin": true}]) %}
{% endif %}

{% if cms.edition.can('api_keys') %}
	{% set adminMenu = adminMenu | merge([{"title": "API Keys", "path": "api-keys", "admin": true}]) %}
{% endif %}

{% if cms.edition.can('rss_import') %}
	{% set adminMenu = adminMenu | merge([{"title": "RSS Feed Import", "path": "import-rss", "admin": true}]) %}
{% endif %}

{% set menu = [
	{
		"title" : "Cache Manager",
		"path"  : "cache-manager",
	},
	{
		"title" : "Cache Sizing Advisor",
		"path"  : "cache-sizing",
	},
	{
		"title" : "Image Batcher",
		"path"  : "image-batcher",
	},
	{
		"title" : "Image Cache",
		"path"  : "image-cache",
	},
	{
		"title" : "Job Queue Manager",
		"path"  : "jobqueue",
	},
	{
		"title" : "JumpStart Data",
		"path"  : "jumpstart",
	},
	{
		"title" : "License Manager",
		"path"  : "license-manager",
	},
	{
		"title" : "Log Analyzer",
		"path"  : "logs",
	},
	{
		"title" : "Pretty URL Builder",
		"path"  : "pretty-url-builder",
	},
	{
		"title" : "Project Setup",
		"path"  : "project-setup",
	},
	{
		"title" : "Server Checker",
		"path"  : "server-checker",
	},
	{
		"title" : "Twig Debugger",
		"path"  : "twig-debugger",
	},
] %}

{# {
	"title" : "Macro Builder",
	"path"  : "macro-builder",
}, #}

{% set allMenu = menu %}
{% if cms.auth.isAdmin() %}
	{% set allMenu = allMenu | merge(adminMenu) %}
{% endif %}
{% set allMenu = allMenu | sort((a, b) => a.title | lower <=> b.title | lower) %}

{% block dashcontent %}

<aside class="dash-content-sidebar">
	<header>
		<input type="search" class="filter" placeholder="Filter Utils" autofocus />
	</header>

	<nav class="links">
		<ul>
		{% for item in allMenu %}
			{% if item.admin | default(false) or cms.auth.canAccessUtil(item.path, 'read') %}
			<li class="{{ item.path }}">
				<a {% if page == item.path %}class="active"{% endif %}
					href="utils/{{ item.path }}">{{ item.title }}</a>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>

	<footer>
	</footer>
</aside>

<main class="dash-main-content">

	{% include "admin/utils/" ~ page ~ ".twig" %}

</main>

{% endblock %}
