// Total Page Styles
.oembed.video,.oembed.codepen,.fr-video {
	display:block;
	width:100%;
	margin-bottom:0;
	height:0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position:relative;

	video {
		width:100%;
	}
	iframe {
		border:none;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
	}
}

img.fr-dib{margin:auto;display:block;float:none;vertical-align:top;margin-top:5px;margin-bottom:5px}
img.fr-dib.fr-fil{margin:5px auto 5px 0;left:5px}
img.fr-dib.fr-fir{margin:5px 0 5px auto;right:5px}
img.fr-dii{margin:auto;display:inline-block;float:none;margin-top:5px;margin-bottom:5px}
img.fr-dii.fr-fil{margin:5px 10px 5px 0;left:5px;float:left}
img.fr-dii.fr-fir{margin:5px 0 5px 10px;right:5px;float:right}
img.fr-rounded{border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
img.fr-bordered{border:solid 10px #CCC;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}

.fr-video{text-align:center;position:relative}
.fr-video>*{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;max-width:100%;border:0}
.fr-video.fr-dvb{display:block;clear:both}
.fr-video.fr-dvb.fr-fvl{text-align:left}
.fr-video.fr-dvb.fr-fvr{text-align:right}
.fr-video.fr-dvi{display:inline-block}
.fr-video.fr-dvi.fr-fvl{float:left}
.fr-video.fr-dvi.fr-fvr{float:right}

.fr-file{position:relative}
.fr-file::after{position:relative;content:"\1F4CE";font-weight:400}

img.fr-full-width {
	min-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
}