@import "codemirror";

:root {
    --icon-help        : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%0A %3Cg fill='%23999999'%3E%0A %3Cpath d='M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z'%3E%3C%2Fpath%3E%0A %3C%2Fg%3E%0A%3C%2Fsvg%3E");
    --icon-text        : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cline x1='11' y1='30' x2='21' y2='30' stroke='%23252B2D'%3E%3C/line%3E%3Cline x1='16' y1='2' x2='16' y2='30' stroke='%23252B2D'%3E%3C/line%3E%3Cpolyline points='29 6 27 2 5 2 3 6'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    --icon-date        : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cline x1='5' y1='20' x2='27' y2='20' stroke='%23252B2D'%3E%3C/line%3E%3Cline x1='12' y1='15' x2='12' y2='25' stroke='%23252B2D'%3E%3C/line%3E%3Cline x1='20' y1='15' x2='20' y2='25' stroke='%23252B2D'%3E%3C/line%3E%3Cline x1='9' y1='1' x2='9' y2='5'%3E%3C/line%3E%3Cline x1='23' y1='1' x2='23' y2='5'%3E%3C/line%3E%3Cline x1='31' y1='11' x2='1' y2='11'%3E%3C/line%3E%3Crect x='1' y='5' width='30' height='24' rx='3' ry='3'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
    --icon-email       : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cellipse cx='15' cy='15.5' rx='6' ry='6.5' stroke='%23252B2D'%3E%3C/ellipse%3E%3Cpath d='M21,9v11c0,3.215,5.522,3.769,8.08-.578,2.168-3.679,1.636-9.289-1.072-12.981C24.024,1.006,14.811-1.026,8.119,3.466,1.969,7.595-.221,15.948,3.177,22.7c3.363,6.681,11.255,9.919,18.4,7.502'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --icon-lock        : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpath d='M10,10.782V7a6.018,6.018,0,0,1,6-6h0a6.018,6.018,0,0,1,6,6v3.783'%3E%3C/path%3E %3Ccircle cx='16' cy='20' r='11'%3E%3C/circle%3E %3Cline x1='16' y1='22' x2='16' y2='25' stroke='%23252B2D'%3E%3C/line%3E %3Ccircle cx='16' cy='19' r='3' stroke='%23252B2D'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    --icon-id          : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpolyline points='2 8 2 2 8 2' stroke='%23252B2D'%3E%3C/polyline%3E%3Cpolyline points='30 8 30 2 24 2' stroke='%23252B2D'%3E%3C/polyline%3E%3Cpolyline points='2 24 2 30 8 30' stroke='%23252B2D'%3E%3C/polyline%3E%3Cpolyline points='30 24 30 30 24 30' stroke='%23252B2D'%3E%3C/polyline%3E%3Cpath d='M7,26l4.632-1.544A2,2,0,0,0,13,22.558V21.243C10.187,19.678,9,15.97,9,13V12a7,7,0,0,1,14,0v1c0,2.97-1.187,6.678-4,8.243v1.315a2,2,0,0,0,1.368,1.9L25,26'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --icon-url         : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpath d='M16,20.644A6.968,6.968,0,0,1,13.1,18.9h0a7,7,0,0,1,0-9.9l4.95-4.95a7,7,0,0,1,9.9,0h0a7,7,0,0,1,0,9.9L24.9,17'%3E%3C/path%3E %3Cpath d='M16,11.356A6.968,6.968,0,0,1,18.9,13.1h0a7,7,0,0,1,0,9.9l-4.95,4.95a7,7,0,0,1-9.9,0h0a7,7,0,0,1,0-9.9L7.1,15' stroke='%23252B2D'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --icon-tel         : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpath d='M20.693,19.293l-2.282,2.853a24.077,24.077,0,0,1-8.557-8.557l2.853-2.282a1.939,1.939,0,0,0,.56-2.3l-2.6-5.855A1.939,1.939,0,0,0,8.407,2.062L3.457,3.346A1.95,1.95,0,0,0,2.018,5.5,28.761,28.761,0,0,0,26.5,29.982a1.95,1.95,0,0,0,2.153-1.439l1.284-4.95a1.939,1.939,0,0,0-1.089-2.258l-5.855-2.6A1.939,1.939,0,0,0,20.693,19.293Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --icon-number      : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cline x1='9' y1='30' x2='13' y2='2'%3E%3C/line%3E%3Cline x1='19' y1='30' x2='23' y2='2'%3E%3C/line%3E%3Cline x1='6' y1='11' x2='27' y2='11'%3E%3C/line%3E%3Cline x1='5' y1='21' x2='26' y2='21'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
    --icon-list        : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpath d='M19.243,30.414l8.171-8.171a2,2,0,0,0,0-2.829L13,5H2V16L16.414,30.414A2,2,0,0,0,19.243,30.414Z'%3E%3C/path%3E %3Cpolyline points='30 16 15 1 4 1' stroke='%23252B2D'%3E%3C/polyline%3E %3Ccircle cx='9' cy='12' r='3' stroke='%23252B2D'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    --icon-slider      : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cline x1='17' y1='5' x2='31' y2='5'%3E%3C/line%3E %3Cline x1='1' y1='5' x2='5' y2='5'%3E%3C/line%3E %3Cline x1='28' y1='16' x2='31' y2='16' stroke='%23252B2D'%3E%3C/line%3E %3Cline x1='1' y1='16' x2='16' y2='16' stroke='%23252B2D'%3E%3C/line%3E %3Ccircle cx='9' cy='5' r='4'%3E%3C/circle%3E %3Cline x1='17' y1='27' x2='31' y2='27'%3E%3C/line%3E %3Cline x1='1' y1='27' x2='5' y2='27'%3E%3C/line%3E %3Ccircle cx='9' cy='27' r='4'%3E%3C/circle%3E %3Ccircle cx='20' cy='16' r='4' stroke='%23252B2D'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    --icon-styled-text : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cpolyline points='16,7 6,11 3,29 21,26 25,16 '%3E%3C/polyline%3E %3Cline x1='3' y1='29' x2='11.6' y2='20.4'%3E%3C/line%3E %3Crect x='12.8' y='7.9' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 30.4853 32.6274)' width='18.4' height='4.2' stroke='%23252B2D'%3E%3C/rect%3E %3Ccircle cx='13' cy='19' r='2'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    --icon-svg         : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill='none' stroke='%23252B2D'%3E%3Cline x1='2' y1='11' x2='30' y2='11' stroke='%23252B2D'%3E%3C/line%3E %3Cpolyline points='16,29 21,11 16,3 ' stroke='%23252B2D'%3E%3C/polyline%3E %3Cpolyline points='16,3 11,11 16,29 ' stroke='%23252B2D'%3E%3C/polyline%3E %3Cline x1='7' y1='3' x2='11' y2='11' stroke='%23252B2D'%3E%3C/line%3E %3Cline x1='25' y1='3' x2='21' y2='11' stroke='%23252B2D'%3E%3C/line%3E %3Cpolygon points='30,11 16,29 2,11 7,3 25,3 '%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");

    --help-animation-timing: 0.25s;
}

//------------------------------
// Form Defaults
//------------------------------
.total-form {
    :focus,
    :focus + .form-group-label {
        outline      : 0;
        border-color : hsl(0, 0%, 69%);
        box-shadow: inset 0 0 0 hsla(0, 0%, 4%, 0.1);
    }

    label {
        display: block;
        margin: 0;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.8;
        color: hsl(0, 0%, 4%);
        transition: opacity 0.5s;
        width: max-content;
    }
}

.form-field {
    position: relative;

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
}

//------------------------------
// Form Groups
//------------------------------
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    align-items: stretch;
    border-radius: 5px;
    transition: box-shadow .5s;
    box-shadow: 0 0 0 hsla(0, 0%, 4%, 0.1);

    &:has(:focus) {
        box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1);
    }

    & > * {
        margin: 0;
    }

    & + .help {
        margin-top: -0.5rem;
    }
}

.form-group-label {
    padding: 0 1.5rem;
    width: 1rem;
    border: 1px solid hsl(0, 0%, 79%);
    border-left-width: 0;
    border-radius: 0 5px 5px 0;
    color: hsl(0, 0%, 60%);
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    background-color: hsl(0, 0%, 96.08%);
    background-image: var(--icon-text);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    transition: box-shadow .5s, border-color .25s ease-in-out;
}

@import "forms/help";
@import "forms/text";
@import "forms/checkbox";
@import "forms/color";
@import "forms/depot";
@import "forms/file";
@import "forms/froala";
@import "forms/gallery";
@import "forms/image";
@import "forms/list";
@import "forms/radio";
@import "forms/set";
@import "forms/slider";
@import "forms/toggle";
