.depot-field {
	.form-group {
		box-shadow : none;
	}
}

.depot-layout {
	display    : flex;
	border     : 10px solid oklch(var(--totalform-white));
	box-shadow : 0 0 2px oklch(var(--totalform-black) / 0.5);
}
.depot-preview {
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : 256px;
	min-height      : 256px;
	border          : 1px solid oklch(var(--totalform-lightgray));
	border-left     : none;

	svg * {
		fill: oklch(var(--totalform-lightgray));
	}
}
.depot-browser {
	--line-height : 2rem;

	border : 1px solid oklch(var(--totalform-lightgray));

	list-style   : none;
	padding-left : 0.5rem;
	width        : 100%;
	cursor       : default;
	background: repeating-linear-gradient(
		to bottom,
		transparent 0,
		transparent var(--line-height),
		oklch(var(--totalform-nearwhite)) var(--line-height),
		oklch(var(--totalform-nearwhite)) calc(var(--line-height) * 2)
	);

	ul.folder-contents {
		list-style   : none;
		margin       : 0;
	}
	li {
		padding-left : 1rem;
		line-height  : var(--line-height);
	}
	li:has(>details) {
		padding-left:0;
	}
	details > ul {
		padding-left:1rem;
	}
}
