//--------------------------------
// Details Styles
//--------------------------------
details.cms-accordion {
	padding  : 1rem 1rem 0;
	display  : grid;
	// overflow : hidden;

	summary {
		border-radius    : var(--totalform-radius);
		border           : 1px solid oklch(25% 0 0 / 0.5);
		font-weight      : bold;
		font-size        : 1.2rem;
		margin           : -1rem -1rem 0;
		padding          : 1rem;
		background-color : oklch(var(--totalform-nearwhite));
		cursor           : pointer;
		user-select      : none;
		color            : oklch(var(--totalform-text-color));
		transition       : all 200ms ease;

		small {
			font-size   : 0.8rem;
			font-weight : normal;
		}
		// &::marker {
		// 	content : "▶";
		// }
	}

	> .content {
		display    : grid;
		gap        : 1rem;
		opacity    : 0;
		transition : opacity 200ms linear;
	}

	&[open] {
		padding : 1rem;
		gap     : 1rem;

		> .content {
			opacity : 1;
		}

		// summary {
		// 	margin-bottom : 1rem;
		// }
	}
}

