// @import "basic";
// @import "dropzone";

//--------------------------------
// Fieldset - File Drop
//--------------------------------
form.totalform {

    .dz-clickable {
        cursor:pointer;
    }

    .image-field {
        box-sizing:border-box;

        * {
            box-sizing:border-box;
        }

        p.placeholder {
            text-align:center;
            margin-top:0.3rem;
            .fa {
                font-size:1.5em;
            }
        }

        .dz-preview {
            position:relative;
            display:block;
            min-height:2rem;
            border-width:10px;
            border-style:solid;
            border-color:#f8f8f8;
            box-shadow:0px 0px 2px rgba(0,0,0,0.4);

            &.empty {
                display:none;
            }
            .fa-check-circle,.fa-times-circle {
                display          : none;
                position         : absolute;
                text-align       : center;
                opacity          : 0;
                bottom           : 0;
                left             : 0;
                right            : 0;
                width            : 100%;
                background-color : rgba(255,255,255,0.9);
                transition       : opacity 500ms ease-in-out;
            }
            &.dz-success .fa-check-circle{
                display : block;
                opacity : 1;
            }
            &.dz-error .fa-times-circle{
                display : block;
                opacity : 1;
            }

            &.dz-processing .dz-progress {
                display:block;
                opacity:1;
                transition:all 0.2s linear;
            }
            &.dz-complete .dz-progress {
                opacity:0;
                transition:opacity 0.4s ease-in;
            }

            .dz-progress {
                opacity:0;
                z-index:1000;

                pointer-events:none;
                position:absolute;
                height:2rem;
                left:0;
                right:0;
                bottom:0;
                width:100%;

                background:rgba(0,0,0,0.4);
                // Fix for chrome bug:https://code.google.com/p/chromium/issues/detail?id=157218
                -webkit-transform:scale(1);
                overflow:hidden;

                .dz-upload {
                    background:#43AC6A;
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    width:0;
                    z-index:1001;
                }
                .dz-upload-progress-label {
                    width:100%;
                    text-align:center;
                    display:block;
                    line-height:2rem;
                    z-index:1002;
                    position:absolute;
                    color:#ffffff;
                }
            }
        }
    }
}

form.totalform {

    .image-field {

        .placeholder {
            margin-bottom:0;
        }

        .total-preview {
            display:block;
            min-height:4em;
            position:relative;
        }

        img {
            width:100%!important;
            height:auto;
            max-width:100%;
            display:block;
            margin:0 auto;

            &.notfound {
                display:none;
            }
        }

        .dz-overlay {
            width:100%;
            height:100%;
            top:0;
            left:0;
            opacity:0.5;
            position:absolute;
            display:block;
            text-align:center;

            .fa {
                position:absolute;
                top:50%;
                left:50%;
                transform:translateX(-50%) translateY(-50%);
            }
        }
        img {
            width:100%;
        }
        .fa-check-circle,.fa-times-circle {
            font-size:2rem;
        }
        .dz-preview {
            &.empty {
                border-style:none!important;
                box-shadow:none!important;
            }
        }
    }
    &.dz-drag-hover {
        fieldset.image-box {
            .dz-overlay {
                opacity:1.0;
            }
            img{
                opacity:0.5;
            }
        }
    }
}

form.totalform {

    fieldset.file-box {

        .placeholder {
            margin-bottom:0;
        }

        .total-preview {
            display:block;
            min-height:4em;
            position:relative;
        }

        img {
            width:100%!important;
            height:auto;
            max-width:100%;
            display:block;
            margin:0 auto;

            &.notfound {
                display:none;
            }
        }

        .dz-overlay {
            width:100%;
            height:100%;
            top:0;
            left:0;
            opacity:0.5;
            position:absolute;
            display:block;
            text-align:center;

            .fa {
                position:absolute;
                top:50%;
                left:50%;
                transform:translateX(-50%) translateY(-50%);
            }
        }
        img {
            width:100%;
        }
        .fa-check-circle,.fa-times-circle {
            font-size:2rem;
        }
        .dz-preview {
            &.empty {
                border-style:none!important;
                box-shadow:none!important;
            }
        }
    }
    &.dz-drag-hover {
        fieldset.file-box {
            .dz-overlay {
                opacity:1.0;
            }
            img{
                opacity:0.5;
            }
        }
    }
}

form.totalform {

	fieldset.gallery-box {

		.total-preview {
			width       : 100%;
			overflow    : hidden;
			padding-top : 5px;

			&.overflow {
				overflow-y    : scroll;
				border-bottom : 1px dotted #ccc;
				text-align    : center;
			}
		}
		.dz-preview {
			border-width   : 5px;
			opacity        : 1.0;
			display        : inline-block;
			margin-right   : 10px;
			margin-bottom  : 10px;
			text-align     : center;
			vertical-align : top;
			overflow       : hidden;
			width          : 100px;
			height         : 100px;
			float          : left;

			&:first-child{
				opacity       : 0.5;
				border-style  : dashed;
				border-color  : #222;
				border-width  : 2px;
				box-shadow    : none;
				border-radius : 3px;
			}

			&.sortable-ghost {
				.actionbar{
					opacity : 0!important;
				}
			}

			.dz-progress {
				height:1rem;
				.dz-upload-progress-label {
					font-size   : 0.5rem;
					line-height : 1rem;
				}
			}
			.imagebar-featured {
				.fa-star {
					display:none;
				}
				.fa-star-o {
					display:inline-block;
				}
			}
			&.featured .imagebar-featured {
				.fa-star {
					display:inline-block;
				}
				.fa-star-o {
					display:none;
				}
			}
		}
	}
	&.dz-drag-hover {
		fieldset.gallery-box {
			.dz-preview {
				opacity:0.5;

				&:first-child {
					opacity:1.0;
				}
			}
		}
	}
}

dialog {
	border        : none;
	box-shadow    : rgb(0 0 0 / 0.3) 2px 2px 5px 0px;
	border-radius : 10px;
	padding       : 20px;
	z-index       : 5;
	position      : fixed;
	top           : 50%;
	left          : 50%;
	transform     : translate(-50%, -50%);
}

dialog::backdrop {
	background-color : rgb(0 0 0 / 0.5);
	backdrop-filter  : blur(3px);
}