//--------------------------------
// Fieldset - File Field
//--------------------------------
.file-field {

	display: grid;

	&.center {
		justify-items : center;
	}

	> .form-group {
		width : fit-content;
	}

	.dz-preview {
		min-width        : 200px;
		background-color : oklch(var(--totalform-nearwhite));

		&:hover {
			.file-icon {
				opacity: 0.5;
			}
		}
	}

	.not-found {
		display : none;
	}

	p.filename {
		margin     : 0 1rem;
		text-align : center;
		font-size  : 0.85rem;
	}

	.actionbar {
		padding               : 0.5rem 0;
		bottom                : 0;
		display               : grid;
		gap                   : 1rem;
		justify-items         : center;
		align-content         : space-evenly;
		grid-template-columns : repeat(3, 1fr);

		button {
			margin : 0;
		}
	}

	.file-icon {
		height           : 64px;
		width            : 64px;
		margin           : 0.5rem auto;
		background-color : oklch(var(--totalform-darkgray));
		mask-position    : bottom center;
		mask-image       : var(--icon-file-zip);
		mask-repeat      : no-repeat;
		mask-size        : 64px;
		transition       : opacity 100ms;
	}
}