//--------------------------------
// Fieldset - Gallery Field
//--------------------------------

.gallery-field {
	&> .form-group {
		display  : block;
		overflow : hidden;
	}
	.total-preview {
		--scroll-height       : 600px;
		display               : grid;
		gap                   : 0.8rem;
		grid-template-columns : repeat(auto-fill, minmax(200px, 1fr));
		align-items           : center;
		justify-items         : center;
		box-shadow            : none;
		transition            : none;
		min-height            : 96px;

		&.scrollable {
			max-height      : var(--scroll-height);
			overflow-y      : scroll;
			padding         : 3px 3px 10px 3px;
			border-radius   : 5px;

			&:after {
				content         : "";
				display         : block;
				height          : 20px;
				position        : absolute;
				width           : 100%;
				bottom          : -10px;
				background      : radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 70%);
				z-index         : 999;
			}
		}
	}
	.dz-preview {
		width : fit-content;

		img {
			max-height : 200px;
			min-height : 125px;
			object-fit : cover;
		}
	}
	&:not(.dz-drag-hover):has(.image-preview) .dz-overlay {
		opacity : 0;
	}
	.actionbar {
		padding             : 0.5rem 0;
		bottom              : 0;
		display             : grid;
		gap                 : 1rem 0;
		justify-items       : center;
		align-content       : start;
		grid-template-rows  : auto auto 1fr;
		grid-template-areas :
			"edit      links    featured"
			"download  clear    trash"
			"move      move     move";

		button {
			margin : 0;
		}
		.edit {
			grid-area : edit;
		}
		.links {
			grid-area : links;
		}
		.featured {
			grid-area : featured;
		}
		.download {
			grid-area : download;
		}
		.move {
			grid-area  : move;
			align-self : end;
		}
		.upload {
			display   : none;
			grid-area : upload;
		}
		.clear {
			grid-area : clear;
		}
		.trash {
			grid-area : trash;
		}
	}
}