//------------------------------
// Default Help Text
//------------------------------
.help {
    width: max-content;
    margin-top: 0.5rem;
    max-width: 100%;
    padding: 0 1.1rem;
    font-size: 0.875rem;
    font-style: italic;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 0 1px;
    background-image: var(--icon-help);
}

.check-field .help {
	flex-basis: 100%;
}

//------------------------------
// Help Box - Bottom Right Tooltip
//------------------------------
.help-box {

    &.help-on-focus {
        :focus,
        :focus + .form-group-icon {
            border-bottom-right-radius: 0;
        }
        &:has(:focus) .help {
			opacity      : 1;
			box-shadow   : 0 1px 2px hsla(0, 0%, 4%, 0.1);
			border-color : hsl(0, 0%, 69%);
    	}
    }
    &.help-on-hover:hover {
        input,
        .form-group-icon {
            border-bottom-right-radius: 0;
        }
		.help {
			opacity : 1;
		}
    }
    .help {
        max-width           : clamp(100px, 50ch, 85%);
        position            : absolute;
        bottom              : 0;
        right               : 0;
        z-index             : 10;
        margin              : 0;
        border              : 1px solid hsl(0, 0%, 79%);
        padding             : 0.625rem 1.625rem;
        border-radius       : 2px 0 5px 5px;
        transform           : translateY(calc(100% - 1px));
        background-color    : hsl(0, 0%, 90%);
        background-position : 0.5rem 0.6875rem;
        transition: box-shadow .5s, border-color .25s ease-in-out;
    }
}

//------------------------------
// Help Label Overlay
//------------------------------
.help-label {
    .form-field:not(.check-field):not(.radio-field) .help {
        line-height: 1.8;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-position: left;
        opacity: 0;
    }
}

//------------------------------
// Help Tooltip
//------------------------------
.help-tooltip {
    label::after {
        content: " ";
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        color: hsl(0, 0%, 60%);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: center;
        background-image: var(--icon-help);
        appearance: none;
        border: none;
        vertical-align: bottom;
    }

    .help {
        position: absolute;
        max-width: clamp(200px, 50ch, 85vw);
        margin: 0;
        background-color: black;
        color: #fff;
        padding: 10px;
        border-radius: 6px;
        top: 0;
        left: 0;
        background-image: none;
        transform: translateX(0) translateY(calc(-100% + 0rem));

        &:after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 5%;
            margin-left: 0px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }
}

//------------------------------
// Help Animations
//------------------------------
.help-on-focus,
.help-on-hover {
    .help {
        opacity: 0;
        transition: opacity var(--help-animation-timing);
    }
}

.help-label .form-field:not(.check-field):not(.radio-field) > label {
    transition: opacity var(--help-animation-timing);
}

.help-on-focus .form-field:has(input:focus) .help,
.help-on-hover .form-field:hover .help {
    opacity: 1;
}

.help-on-hover .form-field:hover .help,
.help-on-focus .form-field:has(input:focus) .help {
    opacity: 1!important;
}

.help-on-focus.help-label .form-field:not(.check-field):not(.radio-field):has(input:focus) > label,
.help-on-hover.help-label .form-field:not(.check-field):not(.radio-field):hover > label {
    opacity: 0;
}
