.login-layout {
	display       : grid;
	gap           : 2rem;
	max-width     : 600px;
	margin        : 0 auto;
	align-content : center;
	min-height    : 80vh;
	padding       : 1rem;
}

.login-form {
	display : grid;
	gap     : 2rem;
}