//------------------------------
// Radio Field
//------------------------------

[type="radio"] {
    appearance: auto;
}

.radio {
  margin: 0.5rem;

  label {
    line-height: 1;
    font-size: 1.1rem;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content        : '';
        background     : oklch(var(--totalform-nearwhite));
        border-radius  : 100%;
        border         : 1px solid oklch(var(--totalform-border-color));
        display        : inline-block;
        width          : 1.2em;
        height         : 1.2em;
        position       : relative;
        margin-right   : 0.75rem;
        vertical-align : middle;
        cursor         : pointer;
        text-align     : center;
        transition     : all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color : oklch(var(--totalform-accent));
          box-shadow       : inset 0 0 0 4px oklch(var(--totalform-nearwhite));
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline      : none;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow   : inset 0 0 0 4px oklch(var(--totalform-nearwhite));
          background   : oklch(var(--totalform-border-color));
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}