.report-form {
	display: grid;
	gap: 1.5rem;
	align-content: start;
}

.report-collection-selector {
	display: grid;
	gap: 0.25rem;

	select {
		padding: 0.5rem;
		border: 1px solid oklch(var(--totalform-border-color));
		border-radius: var(--totalform-radius);
		background: oklch(var(--totalform-nearwhite));
		font-size: 1rem;
	}
}

.report-filters {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.report-filter-field {
	display: grid;
	gap: 0.25rem;

	input {
		padding: 0.5rem;
		border: 1px solid oklch(var(--totalform-border-color));
		border-radius: var(--totalform-radius);
	}
}

.report-fields {
	border: 1px solid oklch(var(--totalform-border-color));
	border-radius: var(--totalform-radius);
	padding: 1rem;
	min-height: 100px;
	background: oklch(var(--totalform-nearwhite));

	h3 {
		margin: 0 0 0.5rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: oklch(var(--totalform-darkgray));

		&:not(:first-child) {
			margin-top: 1rem;
		}
	}
}

.report-field-grid {
	display: grid;
	grid-template-columns : repeat(auto-fill, minmax(var(--cms-report-checkbox-min-size, 150px), 1fr));
	gap: 0.25rem 1rem;

	label {
		display: flex;
		align-items: center;
		gap: 0.375rem;
		cursor: pointer;
		padding: 0.25rem 0;
	}

	input[type=checkbox] {
		margin-bottom : 0;
	}
}

.report-fields-placeholder {
	color: oklch(var(--totalform-darkgray));
	font-style: italic;
	margin: 0;
}

.report-actions {
	display: flex;
	gap: 0.75rem;
}
