//--------------------------------
// Scrollable
//--------------------------------

@keyframes fadeInScrollable {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.scrollable {
	--scrollable-height   : 600px;
	--scrollable-bg       : transparent;
	--scrollable-bg-alt   : oklch(var(--totalform-lightgray) / 50%);
	--scrollable-bg-hover : oklch(var(--totalform-blue) / 20%);

	max-height      : var(--scrollable-height);
	overflow-y      : scroll;
	border-radius   : 5px;

	&:after {
		content    : "";
		display    : block;
		height     : 20px;
		position   : absolute;
		width      : 100%;
		bottom     : -10px;
		background : radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 70%);
		z-index    : 999;
		opacity    : 0;
		animation  : fadeInScrollable 1s 1s forwards;
	}

	> a {
		display          : block;
		background-color : var(--scrollable-bg);

		&:nth-child(even) {
			background-color : var(--scrollable-bg-alt);
		}
		&:hover {
			background-color : var(--scrollable-bg-hover);
		}
	}
}
