//------------------------------
// Slider Field
//------------------------------
[type="range"] {
    appearance       : none;
    width            : 100%;
    height           : 32px;
    outline          : none;
    overflow         : hidden;
    border           : 1px solid #e4e4e4;
    border-radius    : 60px;
    background-color : white;
    padding          : 0;

    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);

    // &::-webkit-slider-container {
    //     background-color : red;
    //     box-sizing       : border-box;
    //     box-shadow       : -500px 0 0 500px red;
    // }

    &::-webkit-slider-thumb {
        -webkit-appearance : none;
        width              : 30px;
        height             : 30px;
        border-radius      : 60px;
        background         : #009688;
        border             : 15px solid whitesmoke;
        cursor             : pointer;
        box-shadow         : -515px 0 0 500px #009688, 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, .04), 0 4px 9px hsla(0, 0%, 0%, .13), 0 3px 3px hsla(0, 0%, 0%, .05);
    }
}
.range-value {
    padding   : 0.5rem 1rem;
    width     : 4ch;
    font-size : 1.1rem;
}
