<h1>Cache Cleaner</h1>

<section class="dash-content-section">
	<p>Clicking on the below button will clear all twig system cache
	If you feel that you are ever not seeing the layouts and content
	that you expect, you can use this tool to clear the cache.</p>

	<p>Cache Dir Size: <strong>{{ cms.checker.cacheDirSize }}</strong></p>

	{{ cms.form.simple("/cache", "", {
		method : "DELETE",
		label  : "Clear Twig Cache",
	}) }}
</section>