<h1>Collection Report</h1>

<section class="dash-content-section">
	<p>Select a collection and choose which fields to include in your report. Download as CSV or JSON.</p>

	<section style="max-width:800px">
		{{ cms.form.report() }}
	</section>
</section>
