<h1>Total CMS Utilities</h1>

<section class="dash-content-section">
	<p>
	The Total CMS Utilities page is a collection of tools that can help make you life easier when working with Total CMS.
	</p>

	<ul>
		<li><strong>Project Setup</strong>: Set up a new project with collections.</li>
		<li><strong>Cache Cleaner</strong>: Clear the Total CMS twig server cache.</li>
		<li><strong>Image Batcher</strong>: Batch process images for bettter performance.</li>
		<li><strong>Macro Builder</strong>: Learn how to build macros for use in your content.</li>
		<li><strong>Pretty URL Builder</strong>: Build pretty URL configurations for your web server.</li>
		<li><strong>Server Checker</strong>: Check your server setup for compatibility with Total CMS.</li>
		<li><strong>Log Analyzer</strong>: Analyze the Total CMS log files.</li>
	</ul>
</section>

