
<h1>Job Queue Manager</h1>

<section style="display:grid;align-content:start;gap:1rem">
	<h4 style="">Job Queue Stats</h4>
	<div>{{ cms.form.jobqueue() }}</div>

	<p>This will clear the all the pending import jobs for <em><u>every collection</u></em>.
	This will not delete any items that have already been imported.</p>

	{{ cms.form.clearqueue({
		label      : 'Clear Import Queue',
	}) }}

</section>

